@page
@model DPAWaiver.Pages.Private.PersonnelRequest.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Personnel Request Waiver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.JobDuties" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.JobDuties" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.JobDuties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.RequestedSalary" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.RequestedSalary" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.RequestedSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.DetailJustification" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.DetailJustification" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.DetailJustification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.EstimatedNumberofFTE" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.EstimatedNumberofFTE" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.EstimatedNumberofFTE" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PersonnelRequestWaiver.ID" />
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.CreatedOn" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.CreatedOn" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.approvedOn" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.approvedOn" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.approvedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.OtherFirstName" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.OtherFirstName" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.OtherFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.OtherLastName" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.OtherLastName" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.OtherLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.Status" class="control-label"></label>
                <select asp-for="PersonnelRequestWaiver.Status" class="form-control"></select>
                <span asp-validation-for="PersonnelRequestWaiver.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.WaiverNumber" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.WaiverNumber" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.WaiverNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.ProjectName" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.ProjectName" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.SubmittedOn" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.SubmittedOn" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.SubmittedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.AdditionalComments" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.AdditionalComments" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.AdditionalComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelRequestWaiver.CostEstimate" class="control-label"></label>
                <input asp-for="PersonnelRequestWaiver.CostEstimate" class="form-control" />
                <span asp-validation-for="PersonnelRequestWaiver.CostEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
