@page
@model DPAWaiver.Pages.Private.ServicePrint.EditModel

@{
ViewData["Title"] = "Edit";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.ServicePrintWaiver.OtherFirstName != null && Model.ServicePrintWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServicePrintWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServicePrintWaiver.OtherFirstName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.ServicePrintWaiver.OtherFirstName)" />
                    <span asp-validation-for="ServicePrintWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServicePrintWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServicePrintWaiver.OtherLastName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.ServicePrintWaiver.OtherLastName)" />
                    <span asp-validation-for="ServicePrintWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Information</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 14px">
                <div class="col-md-4 col-xs-4">
                    Purpose: Service
                </div>
                <div class="col-md-4 col-xs-4">
                    Type: Print / Copy
                </div>
                <div class="col-md-4 col-xs-4">
                    Status: @Model.ServicePrintWaiver.Status
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.projectName" class="control-label fontWeightNormal">Project
                            Name:</label>
                        <input type="text" class="form-control" asp-for="ServicePrintWaiver.projectName" required="true"
                            placeholder="Your Project Name">
                        <span asp-validation-for="ServicePrintWaiver.projectName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.SubmittedOn" class="control-label fontWeightNormal">Submitted
                            Date:</label>
                        <input type="date" class="form-control" asp-for="ServicePrintWaiver.SubmittedOn" required="true"
                            value="05/04/2018">
                        <span asp-validation-for="ServicePrintWaiver.SubmittedOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.CostEstimate" class="control-label fontWeightNormal">Cost
                            Estimate:</label>
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                            title="Enter the project cost and estimate such as 9999.99"></span>
                        <input type="number" class="form-control" asp-for="ServicePrintWaiver.CostEstimate"
                            required="true" step="0.01">
                        <span asp-validation-for="ServicePrintWaiver.CostEstimate" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group required">
                <label asp-for="ServicePrintWaiver.ItemDescription" class="control-label fontWeightNormal">Describe the
                    item to be printed/copied:</label>
                <textarea class="form-control" asp-for="ServicePrintWaiver.ItemDescription" rows='2'></textarea>
                <span asp-validation-for="ServicePrintWaiver.ItemDescription" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.EstimateObtained" class="control-label fontWeightNormal">Have
                            you acquired an estimate from the vendor:</label>
                        <select class="form-control control-label" asp-for="ServicePrintWaiver.EstimateObtained">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                        <span asp-validation-for="ServicePrintWaiver.EstimateObtained" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" id="estimateFileDiv">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.estimateFile" class="control-label fontWeightNormal">Upload
                            the received estimate:</label>
                        <input type="file" class="form-control-file" asp-for="ServicePrintWaiver.estimateFile">
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label asp-for="ServicePrintWaiver.PaperStockType" class="control-label fontWeightNormal">Type of Paper
                    Stock:</label>
                <select class="form-control control-label" asp-for="ServicePrintWaiver.PaperStockType">
                    <option>Card Stock</option>
                    <option>Copy Paper Stock</option>
                    <option>Other</option>
                </select>
                <span asp-validation-for="ServicePrintWaiver.PaperStockType" class="text-danger"></span>
            </div>

            <div class="form-group required" id="otherPaperStockReasonDiv">
                <label asp-for="ServicePrintWaiver.otherPaperStockReason" class="control-label fontWeightNormal">If
                    Other, please explain</label>
                <textarea class="form-control" asp-for="ServicePrintWaiver.otherPaperStockReason" rows="1"></textarea>
                <span asp-validation-for="ServicePrintWaiver.otherPaperStockReason" class="text-danger"></span>
            </div>

            <div class="form-group required">
                <label asp-for="ServicePrintWaiver.FinishingType" class="control-label fontWeightNormal">Type of
                    Finishing:</label>
                <select class="form-control control-label" asp-for="ServicePrintWaiver.FinishingType">
                    <option>Folding</option>
                    <option>Numbering</option>
                    <option>Padding</option>
                    <option>Perfect Bind</option>
                    <option>Punch and Bind </option>
                    <option>Saddle Stitch</option>
                    <option>Other</option>
                </select>
                <span asp-validation-for="ServicePrintWaiver.FinishingType" class="text-danger"></span>
            </div>

            <div class="form-group required">
                <label asp-for="ServicePrintWaiver.Reprint" class="control-label fontWeightNormal">Is this a
                    Reprint:</label>
                <select class="form-control control-label" asp-for="ServicePrintWaiver.Reprint">
                    <option>No</option>
                    <option>Yes</option>
                </select>
                <span asp-validation-for="ServicePrintWaiver.Reprint" class="text-danger"></span>
            </div>

            <div class="form-group" id="previousPrinterDiv">
                <label asp-for="ServicePrintWaiver.previousPrinter" class="control-label fontWeightNormal">If it is a
                    Reprint, who was the previous printer</label>
                <input class="form-control" asp-for="ServicePrintWaiver.previousPrinter" type="text">
                <span asp-validation-for="ServicePrintWaiver.previousPrinter" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.numberOfOriginals"
                            class="control-label fontWeightNormal">Number of Originals:
                            <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the number of originals. 
This is a numeric field."></i>
                        </label>
                        <input type="number" class="form-control" asp-for="ServicePrintWaiver.numberOfOriginals"
                            aria-describedby="numberOfOriginals" placeholder="Number of originals">
                        <span asp-validation-for="ServicePrintWaiver.numberOfOriginals" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.Quantity" class="control-label fontWeightNormal">Quantity:
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                title="Enter the Quantity. This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" asp-for="ServicePrintWaiver.Quantity"
                            aria-describedby="Quantity" placeholder="Quantity. Numeric .">
                        <span asp-validation-for="ServicePrintWaiver.Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.FourColorJob" class="control-label fontWeightNormal">Is this
                            a 4 color print job:
                            <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The definition of 4 color printing is offset printing.  
4 color printing is not applicable to digital printing.  
If you are needing digital printing, select 'No'."></i>
                        </label>
                        <select class="form-control control-label" asp-for="ServicePrintWaiver.FourColorJob">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                        <span asp-validation-for="ServicePrintWaiver.FourColorJob" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required" id="numberOfInksDiv">
                        <label asp-for="ServicePrintWaiver.numberOfInks" class="control-label fontWeightNormal">Number
                            of Inks:
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                title="Enter the number of inks. This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" asp-for="ServicePrintWaiver.numberOfInks"
                            aria-describedby="numberOfInks" placeholder="Number of Inks. Numeric">
                        <span asp-validation-for="ServicePrintWaiver.numberOfInks" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.projectDueDate" class="control-label fontWeightNormal">Due
                            Date Of Project: </label>
                        <input type="date" class="form-control" asp-for="ServicePrintWaiver.projectDueDate"
                            aria-describedby="projectDueDate" placeholder="Due Date of Project">
                        <span asp-validation-for="ServicePrintWaiver.projectDueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServicePrintWaiver.FinishedSize" class="control-label fontWeightNormal">Finished
                            Size:
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the finished size. 
(i.e. 8.5 x 11)"></span>
                        </label>
                        <input type="text" class="form-control" asp-for="ServicePrintWaiver.FinishedSize"
                            aria-describedby="FinishedSize" placeholder="Finished size, such as 8.5x11">
                        <span asp-validation-for="ServicePrintWaiver.FinishedSize" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ServicePrintWaiver.AdditionalComments" class="control-label fontWeightNormal">Additional
                    Waiver Comments:</label>
                <textarea class="form-control" asp-for="ServicePrintWaiver.AdditionalComments" rows='2'></textarea>
                <span asp-validation-for="ServicePrintWaiver.AdditionalComments" class="text-danger"></span>
            </div>

        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
    <div>
        <a asp-page="./Private/WaiverList">Back to List</a>
    </div>
</form>
<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#ServicePrintWaiver_estimateObtained', ['#estimateFileDiv'], {
            textList: ['Yes']
        });
        showIfSelected('#ServicePrintWaiver_PaperStockType', ['#otherPaperStockReasonDiv'], {
            textList: ['Other']
        });
        showIfSelected('#ServicePrintWaiver_Reprint', ['#previousPrinterDiv'], {
            textList: ['Yes']
        });
        showIfSelected('#ServicePrintWaiver_FourColorJob', ['#numberOfInksDiv'], {
            textList: ['Yes']
        });
    });

    $("#ServicePrintWaiver_estimateObtained").on("change", function () {
        showIfSelected('#ServicePrintWaiver_estimateObtained', ['#estimateFileDiv'], {
            textList: ['Yes']
        });
    });

    $("#ServicePrintWaiver_PaperStockType").on("change", function () {
        showIfSelected('#ServicePrintWaiver_PaperStockType', ['#otherPaperStockReasonDiv'], {
            textList: ['Other']
        });
    });

    $("#ServicePrintWaiver_Reprint").on("change", function () {
        showIfSelected('#ServicePrintWaiver_Reprint', ['#previousPrinterDiv'], {
            textList: ['Yes']
        });
    });

    $("#ServicePrintWaiver_FourColorJob").on("change", function () {
        showIfSelected('#ServicePrintWaiver_FourColorJob', ['#numberOfInksDiv'], {
            textList: ['Yes']
        });
    });
</script>
}