@page 
@model CreateWaiverEquipmentScanningModel 
@{ ViewData["Title"] = "Create Waiver - Equipment - Scanning/Imaging/Microfilm";}

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                First Name: Dogan
            </div>
            <div class="col-md-3 col-xs-3">
                Last Name: Cibiceli
            </div>
            <div class="col-md-5 col-xs-5">
                Email Address: dogan.cibiceli@state.co.us
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                Department: Education
            </div>
            <div class="col-md-3 col-xs-3">
                Division: Teacher
            </div>
            <div class="col-md-5 col-xs-5">
                Phone: 555-330-3303
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 14px">
            <div class="col-md-4 col-xs-4">
                Purpose: Equipment
            </div>
            <div class="col-md-4 col-xs-4">
                Type: Scanning/Imaging/Microfilm
            </div>
            <div class="col-md-4 col-xs-4">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="submittedDate" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="submittedDate" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="costEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="costEstimate" required="true" value="5000.03">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="justificationDescription" class="control-label fontWeightNormal">Justification for the request:</label>
            <textarea class="form-control" id="justificationDescription" rows='2'></textarea>
        </div>

        <div class="form-group required">
            <label for="currentSystemDescription" class="control-label fontWeightNormal">How do you currently meet this need?</label>
            <textarea class="form-control" id="currentSystemDescription" rows="2"></textarea>
        </div>

        <div class='row'>
            <div class='col-sm-6 col-xs-12'>
                <div class="form-group required">
                    <label for="newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                    <select class="form-control" id="newOrReplace">
                        <option>Please select one</option>
                        <option value='0'>Additional</option>
                        <option>New</option>
                        <option value='1'>Replacement</option>
                    </select>
                </div>
            </div>
            <div class='col-sm-6 col-xs-12' id='currentMakeDiv'>
                <div class="form-group required">
                    <label for="currentMake" class="control-label fontWeightNormal">Current Make</label>
                    <input type="text" class="form-control" id="currentMake" aria-describedby="currentMake" placeholder="Current Make">
                </div>
            </div>
        </div>

        <div class="row" id='modelAndAcquisitionDiv'>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="currentModel" class="control-label fontWeightNormal">Current Model</label>
                    <input type="text" class="form-control" id="currentModel" aria-describedby="currentModel" placeholder="Current Model">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="acquisitionDate" class="control-label fontWeightNormal">Acquisition Date</label>
                    <input type="date" class="form-control" id="acquisitionDate" aria-describedby="acquisitionDate" placeholder="Acquisition Date">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="monthlyCost" class="control-label fontWeightNormal">Monthly Cost of Current Service</label>
                    <input type="number" class="form-control" id="acquisitionDate" aria-describedby="acquisitionDate" placeholder="Monthly Cost of Current Service">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class='form-group required'>
                    <label for='averageMonthlyVolume' class='control-label fontWeightNormal'>Current Average Monthly Volume <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Enter the current average montly volume. This is a numeric field.'></span> </label>
                    <input type='number' class='form-control' id='averageMonthlyVolume' aria-describedby='averageMonthlyVolume' placeholder='Current Average Monthly Volume'>
                </div>
            </div>
        </div>



        <div class='row'>
            <div class='col-sm-6 col-xs-12'>
                <div class='form-group required'>
                    <label for='multiFunctionConsidered' class='control-label fontWeightNormal'>Did you consider Multifunction device for scanning</label>
                    <select class='form-control' id='multiFunctionConsidered' aria-describedby='multiFunctionConsidered'>
                        <option value='0'>No</option>
                        <option value='1'>Yes</option>
                    </select>
                </div>
            </div>
            <div class='col-sm-6 col-xs-12' id='multiFunctionReasonDiv'>
                <div class='form-group required'>
                    <label for='multiFunctionReason' class='control-label fontWeightNormal'>If no, please explain</label>
                    <input type='text' class='form-control' id='multiFunctionReason' aria-describedby='multiFunctionReason' placeholder='If no, please explain'>
                </div>

            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Average Monthly Volume For Next Five Years</h3>
            </div>
            <div class="panel-body">
                <div class="form-group required col-sm-2 col-sm-offset-1">
                    <label for="firstYearVolume" class="control-label fontWeightNormal">1
                        <sup>st</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for first year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="firstYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="secondYearVolume" class="control-label fontWeightNormal">2
                        <sup>nd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for second year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="secondYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="thirdYearVolume" class="control-label fontWeightNormal">3
                        <sup>rd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for third year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="thirdYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="fourthYearVolume" class="control-label fontWeightNormal">4
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="fourthYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="fifthYearVolume" class="control-label fontWeightNormal">5
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fifth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="fifthYearVolume">
                </div>

            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">The type of equipment being requested</h3>
            </div>
            <div class="panel-body">



                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="numberOfEquipment" class="control-label fontWeightNormal">Number of equipment requested?
                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="How many pieces of equipment are being requested?
                                    This is a numeric field."></span>
                            </label>
                            <input type="number" class="form-control" id="numberOfEquipment" aria-describedby="numberOfEquipment" placeholder="Number of Equipment, Integer">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class='form-group required'>
                            <label for='scannerType' class='control-label fontWeightNormal'>Type</label>
                            <select class='form-control' id='scannerType' aria-describedby='scannerType'>
                                <option>Archive Scanner</option>
                                <option>Book Scanner</option>
                                <option>Large Format Scanner</option>
                                <option>Microfilm Scanner</option>
                                <option>Production Scanner</option>
                                <option>Single Function Scanner</option>
                                <option value='0'>Other</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class='form-group required' id='otherScannerTypeDiv'>
                    <label for='otherScannerType' class='control-label fontWeightNormal'>Please explain Other</label>
                    <textarea class='form-control' id='otherScannerType' aria-describedby='otherScannerType' placeholder='Please explain Other'
                        rows='2'></textarea>
                </div>


                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                            <select class="form-control" id="acquisitionType">
                                <option value="1">Solicitation</option>
                                <option value="2">State Price Agreement</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                        <div class="form-group required">
                            <label for="solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                            <select class="form-control" id="solicitationSubType">
                                <option>Discretionary</option>
                                <option>DQ</option>
                                <option>IFB</option>
                                <option>RFP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                        <div class="form-group required">
                            <label for="statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                            <select class="form-control" id="statepriceSubType">
                                <option value='1'>Lease</option>
                                <option value='2'>Purchase</option>
                                <option value='3'>Cancelable Rental</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='row' id='leaseTermsDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='numberOfMonths' class='control-label fontWeightNormal'>Number of Months of Lease</label>
                            <input type='number' class='form-control' id='numberOfMonths' aria-describedby='numberOfMonths' placeholder='Number of Months of Lease'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='monthlyLeaseAmount' class='control-label fontWeightNormal'>Monthly Lease Amount</label>
                            <input type='number' class='form-control' id='monthlyLeaseAmount' aria-describedby='monthlyLeaseAmount' placeholder='Monthly Lease Amount'>
                        </div>
                    </div>
                </div>



                <div class='form-group required'>
                    <label for='makeAndModel' class='control-label fontWeightNormal'>Make and Model</label>
                    <input type='text' class='form-control' id='makeAndModel' aria-describedby='makeAndModel' placeholder='Make and Model'>
                </div>

                <div class='form-group required'>
                    <label for='reasonSelection' class='control-label fontWeightNormal'>Reasons for selecting this particular equipment</label>
                    <textarea class='form-control' id='reasonSelection' aria-describedby='reasonSelection' placeholder='Reasons for selecting this particular equipment'
                        rows='2'></textarea>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='productionCapacity' class='control-label fontWeightNormal'>Production Capacity (throughput)<span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Production capacity also throughput'></span></label>
                            <input type='number' class='form-control' id='productionCapacity' aria-describedby='productionCapacity' placeholder='Production Capacity (throughput)'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class="form-group required" id='purchaseAmountDiv'>
                            <label for="purchaseAmount" class="control-label fontWeightNormal">Equipment Purchase Cost
                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Equipment Purchase Cost"></span>
                            </label>
                            <input type="number" class="form-control usd_input" id="purchaseAmount" aria-describedby="purchaseAmount" placeholder="Equipment Purchase Cost"
                                step='0.01'>
                        </div>
                    </div>
                </div>

                <div class='row' id='purchaseDataDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='expectedUsefulLife' class='control-label fontWeightNormal'>Expected useful life of this equipment</label>
                            <input type='number' class='form-control' id='expectedUsefulLife' aria-describedby='expectedUsefulLife' placeholder='Expected useful life of this equipment'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='depreciationCostPerYear' class='control-label fontWeightNormal'>Depreciation Cost Per Year</label>
                            <input type='number' class='form-control' id='depreciationCostPerYear' aria-describedby='depreciationCostPerYear' placeholder='Depreciation Cost Per Year'>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='annualMaintenanceCostPerYear' class='control-label fontWeightNormal'>Cost of Annual Maintenance Per Year</label>
                            <input type='number' class='form-control' id='annualMaintenanceCostPerYear' aria-describedby='annualMaintenanceCostPerYear'
                                placeholder='Cost of Annual Maintenance Per Year'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='suppliesCost' class='control-label fontWeightNormal'>Cost of Supplies Per Year <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Consumables not included in Maintenance'></span></label>
                            <input type='string' class='form-control' id='suppliesCost' aria-describedby='suppliesCost' placeholder='Cost of Supplies - Consumables not included in the Maintenance'>
                            <!-- TODO: Is this per year or over all. Also what does consumables not included, does that refer to cost of annual maintenance needs hover or a help -->
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label for='totalEquipmentCost' class='control-label fontWeightNormal'>Total Equipment Cost <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='System calculated field:  
Total Estimated + Annual Maintenance + Cost of Supplies - Consumables not included in Maintenance'></span></label>
                    <input type='money' class='form-control' id='totalEquipmentCost' aria-describedby='totalEquipmentCost' placeholder='Total Equipment Cost' disabled='disabled'>
                    <!--TODO: adjust for proper and check javascript, does it only apply to lease-->
                </div>
            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">The type of software needed for equipment</h3>
            </div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='softwareName' class='control-label fontWeightNormal'>Name of software</label>
                            <input type='text' class='form-control' id='softwareName' aria-describedby='softwareName' placeholder='Name of software'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='softwareCost' class='control-label fontWeightNormal'>Estimated Cost of Software</label>
                            <input type='number' class='form-control' id='softwareCost' aria-describedby='softwareCost' placeholder='Estimated Cost of Software'>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='annualLicenseFee' class='control-label fontWeightNormal'>Annual License Fee if any</label>
                            <input type='number' class='form-control' id='annualLicenseFee' aria-describedby='annualLicenseFee' placeholder='Annual License Fee if any'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='numberOfLicenses' class='control-label fontWeightNormal'>Number of Licenses Required</label>
                            <input type='number' class='form-control' id='numberOfLicenses' aria-describedby='numberOfLicenses' placeholder='Number of Licenses Required'>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalAnnualLicenseCost' class='control-label fontWeightNormal'>Total Annual License Cost:</label>
                            <input type='text' class='form-control' id='totalAnnualLicenseCost' aria-describedby='totalAnnualLicenseCost' placeholder='Total Annual License Cost:'
                                disabled="disabled" value="0.494">
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='annualMaintenanceCost' class='control-label fontWeightNormal'>Annual Maintenance Cost</label>
                            <input type='number' class='form-control' id='annualMaintenanceCost' aria-describedby='annualMaintenanceCost' placeholder='Annual Maintenance Cost'>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalSoftwareCosts' class='control-label fontWeightNormal'>Total Software Costs</label>
                            <input type='text' class='form-control' id='totalSoftwareCosts' aria-describedby='totalSoftwareCosts' placeholder='Total Software Costs'
                                disabled="disabled" value="39">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Personnel Required to Operate Equipment</h3>
            </div>
            <div class='panel-body'>
                <div class='form-group required'>
                    <label for='operatorClassification' class='control-label fontWeightNormal'>Operator Classification/Grade</label>
                    <input type='text' class='form-control' id='operatorClassification' aria-describedby='operatorClassification' placeholder='Operator Classification/Grade'>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='productionFTE' class='control-label fontWeightNormal'>Production FTE Required <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Number of FTE'></span></label>
                            <input type='number' class='form-control' id='productionFTE' aria-describedby='productionFTE' placeholder='Production FTE Required'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='hoursPerFTEPerWeek' class='control-label fontWeightNormal'>Hours Per FTE Per week <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Hours per FTE per week'></span></label>
                            <input type='number' class='form-control' id='hoursPerFTEPerWeek' aria-describedby='hoursPerFTEPerWeek' placeholder='Hours Per FTE Per week'>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='baseHourlyRatePerFTE' class='control-label fontWeightNormal'>Base Hourly Rate Per FTE</label>
                            <input type='number' class='form-control' id='baseHourlyRatePerFTE' aria-describedby='baseHourlyRatePerFTE' placeholder='Base Hourly Rate Per FTE'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='fullyLoadedHourlyRatePerFTE' class='control-label fontWeightNormal'>Fully Loaded Hourly Rate Per FTE</label>
                            <input type='number' class='form-control' id='fullyLoadedHourlyRatePerFTE' aria-describedby='fullyLoadedHourlyRatePerFTE'
                                placeholder='Fully Loaded Hourly Rate Per FTE'>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalAnnualPersonnelCost' class='control-label fontWeightNormal'>Total Annual Personnel Cost</label>
                            <input type='text' class='form-control' id='totalAnnualPersonnelCost' aria-describedby='totalAnnualPersonnelCost' placeholder='Total Annual Personnel Cost'
                                disabled='disabled'>
                             <!-- TODO: Calculation is not for annual but for per week -->   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Other Ongoing Overhead Costs</h3>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='monthlySupervisionAmount' class='control-label fontWeightNormal'>Monthly Supervision Amount <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Supervision Amount'></span></label>
                            <input type='number' class='form-control' id='monthlySupervisionAmount' aria-describedby='monthlySupervisionAmount' placeholder='Monthly Supervision Amount'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='monthlyManagementAmount' class='control-label fontWeightNormal'>Monthly Management Amount <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Management Amount'></span></label>
                            <input type='number' class='form-control' id='monthlyManagementAmount' aria-describedby='monthlyManagementAmount' placeholder='Monthly Management Amount'>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label for='additionalWorkspaceRequired' class='control-label fontWeightNormal'>Is additional workspace required for equipment and personnel</label>
                    <select class='form-control' id='additionalWorkspaceRequired' aria-describedby='additionalWorkspaceRequired'>
                        <option value='0'>No</option>
                        <option value='1'>Yes</option>
                    </select>
                </div>
                <div class='row' id='additionalWorkspaceDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalSpaceRequiredInSQFT' class='control-label fontWeightNormal'>Total Space Required in Square Feet <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Total Space Required in sq. ft'></span></label>
                            <input type='number' class='form-control' id='totalSpaceRequiredInSQFT' aria-describedby='totalSpaceRequiredInSQFT' placeholder='Total Space Required in Square Feet'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='costPerSQFT' class='control-label fontWeightNormal'>Cost Per Square Foot</label>
                            <input type='number' class='form-control' id='costPerSQFT' aria-describedby='costPerSQFT' placeholder='Cost Per Square Foot'>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='annualAmountForUtilities' class='control-label fontWeightNormal'>Annual Utilies Amount for Additional SQFT</label>
                            <input type='number' class='form-control' id='annualAmountForUtilities' aria-describedby='annualAmountForUtilities' placeholder='Annual Utilies Amount for Additional SQFT'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalSpaceCost' class='control-label fontWeightNormal'>Total Space Cost</label>
                            <input type='text' class='form-control' id='totalSpaceCost' aria-describedby='totalSpaceCost' placeholder='Total Space Cost'
                                disabled='disabled'>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Additional One Time Costs</h3>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='computerCosts' class='control-label fontWeightNormal'>Computer Costs</label>
                            <input type='number' class='form-control' id='computerCosts' aria-describedby='computerCosts' placeholder='Computer Costs'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='furnitureCosts' class='control-label fontWeightNormal'>Furniture Costs</label>
                            <input type='number' class='form-control' id='furnitureCosts' aria-describedby='furnitureCosts' placeholder='Furniture Costs'>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='cubiclePartitionCosts' class='control-label fontWeightNormal'>Cubicle Partition Costs</label>
                            <input type='number' class='form-control' id='cubiclePartitionCosts' aria-describedby='cubiclePartitionCosts' placeholder='Cubicle Partition Costs'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='constructionCosts' class='control-label fontWeightNormal'>Construction and Electrical Work Costs</label>
                            <input type='number' class='form-control' id='constructionCosts' aria-describedby='constructionCosts' placeholder='Construction and Electrical Work Costs'>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label for='miscellaneousCosts' class='control-label fontWeightNormal'>Miscellaneous Costs</label>
                    <input type='number' class='form-control' id='miscellaneousCosts' aria-describedby='miscellaneousCosts' placeholder='Miscellaneous Costs'>
                </div>
                <div class='form-group required'>
                    <label for='descriptionMiscellaneousCosts' class='control-label fontWeightNormal'>Description of Miscellaneous Costs</label>
                    <textarea class='form-control' id='descriptionMiscellaneousCosts' aria-describedby='descriptionMiscellaneousCosts' placeholder='Description of Miscellaneous Costs'
                        rows='2'></textarea>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label for='totalAdditionalOneTimeCosts' class='control-label fontWeightNormal'>Total Additional One Time Costs</label>
                            <input type='text' class='form-control' id='totalAdditionalOneTimeCosts' aria-describedby='totalAdditionalOneTimeCosts'
                                placeholder='Total Additional One Time Costs' disabled='disabled'>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Panel Additional One Time Costs -->

        <div class='form-group required'>
            <label for='totalCostOfOwnership' class='control-label fontWeightNormal'>Total Cost of Ownership</label>
            <input type='text' class='form-control' id='totalCostOfOwnership' aria-describedby='totalCostOfOwnership' placeholder='Total Cost of Ownership'
                disabled='disabled'>
        </div>

        <div class="form-group required">
            <label for="alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
            <textarea class="form-control" id="overheadDescription" rows="2"></textarea>
        </div>

        
        <div class="form-group">
            <label for="additionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
            <textarea class="form-control" id="additionalComments" rows='2'></textarea>
        </div>

    </div>
</div>


<div class="row add-gutter marginTop20px pull-right">
    <a type="submit" class="btn btn-default btn-space-2x">Logout&nbsp;
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default btn-space-2x" onclick="reset();">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a type="submit" class="btn btn-primary">Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</div>

<div style="clear: both"></div>

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/equipment.scanning.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/equipment.scanning.min.js"></script>
    </environment>
}