@page 
@model DPAWaiver.Pages.Private.PersonnelContractor.CreateModel 
@{ ViewData["Title"] = "Create Waiver - Personnel - State Employee"; }

<h2>Create</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.PersonnelContractorWaiver.OtherFirstName != null && Model.PersonnelContractorWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px"></div>
        <div class="panel-heading">
            <h3 class="panel-title text-center">User Information</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="PersonnelContractorWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="PersonnelContractorWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.PersonnelContractorWaiver.OtherFirstName)" />
                    <span asp-validation-for="PersonnelContractorWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="PersonnelContractorWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="PersonnelContractorWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.PersonnelContractorWaiver.OtherLastName)" />
                    <span asp-validation-for="PersonnelContractorWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>
        </div>
    }
	

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 14px">
            <div class="col-md-4 col-xs-4">
                Purpose: Personnel Request
            </div>
            <div class="col-md-4 col-xs-4">
                Type: Third Party Contractor
            </div>
            <div class="col-md-4 col-xs-4">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="SubmittedOn" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="CostEstimate" class="control-label fontWeightNormal">Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="CostEstimate" required="true" value="5000.03">
                </div>
            </div>

        </div>

    </div>
</div>

<<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="scopeOfWork" class="control-label fontWeightNormal">Describe the scope of work to be performed:</label>
            <textarea class="form-control" id="scopeOfWork" rows='2'></textarea>
        </div>


        <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group required">
                <label for="ContractorType" class="control-label fontWeightNormal">Contractor Type:</label>
                <select class="form-control control-label" id="ContractorType">
                    <option>Full Time Employee</option>
                    <option>Permanent Part Time State Employee</option>
                    <option>State Temp</option>
                </select>
            </div>
        </div>
    <div class="row" id="designDiv">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group required">
                    <label for="hourlyRate" class="control-label fontWeightNormal">Hourly Rate</label>
                    <input type="number" class="form-control" id="hourlyRate" placeholder="Hourly Rate">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group required">
                    <label for="estimatedNumberOfHours" class="control-label fontWeightNormal">Estimated number of hours:<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the estimated number of hours needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 hours)"></span>
                    </label>
                    <input type="number" class="form-control" id="estimatedNumberOfHours" aria-describedby="estimatedNumberOfHours" placeholder="Estimated number of hours">
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="spaType" class="control-label fontWeightNormal">How do you currently receive this service?</label>
            <select class="form-control" id="spaType">
                <option>State Price Agreement</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group required" id="spaNumberDiv">
            <label for="spaNumber" class="control-label fontWeightNormal">Enter State Price Agreement Number</label>
            <input type="number" class="form-control" id="spaNumber">
        </div>

        <div id="otherSPADiv">
            <div class="form-group required">
                <label for="spaOtherDescription" class="control-label fontWeightNormal">Please Describe Other for SPA:</label>
                <textarea class="form-control" id="spaOtherDescription" rows='2'></textarea>
            </div>
        </div>

        <div class="form-group required">
            <label for="EstimatedNumberOfFTE" class="control-label fontWeightNormal">Number of staff requested::
                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of full time employees needed to complete this project. 
        This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 employees)"></i>
            </label>
            <input type="number" class="form-control" id="EstimatedNumberOfFTE" aria-describedby="EstimatedNumberOfFTE" placeholder="Full Time Employee Count">
        </div>


        <div class="form-group required">
            <label for="contractDuration" class="control-label fontWeightNormal">Expected duration of contract (numeric in months)</label>
            <input type="number" class="form-control" id="contractDuration" aria-describedby="contractDuration" placeholder="Contract Duration in Months">
        </div>

        <div class="form-group required">
            <label for="anticipatedExpenditure" class="control-label fontWeightNormal">Anticipated Expenditure (must include mark up rate)</label>
            <input type="number" class="form-control" id="anticipatedExpenditure" aria-describedby="anticipatedExpenditure" placeholder="Anticipated Expenditure">
        </div>


        <div class="form-group required">
            <label for="DetailJustification" class="control-label fontWeightNormal">Please detail justification for request.</label>
            <textarea class="form-control" id="DetailJustification" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
            <textarea class="form-control" id="AdditionalComments" rows='2'></textarea>
        </div>

    </div>

</div>


<div class="row add-gutter marginTop20px pull-right">
    <partial name='_Logout' />
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <button class="btn btn-default btn-space-2x" type="reset">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    <button type="submit" class="btn btn-primary" id='createwaiver' value='Submit'>
            Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
</form>

<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#ContractorType', ['#designDiv'], {valueList: ['1']});
        showIfSelected('#spaType', ['#otherSPADiv'], {textList: ['Other']});
        showIfSelected('#spaType', ['#spaNumberDiv'], {textList: ['Other'], hide:true});
    });

    $("#ContractorType").on("change", function () { 
        showIfSelected('#ContractorType', ['#designDiv'], {valueList: ['1']}); 
    });
    $("#spaType").on("change", function () { 
        showIfSelected('#spaType', ['#otherSPADiv'], {textList: ['Other']});
        showIfSelected('#spaType', ['#spaNumberDiv'], {textList: ['Other'], hide:true});
    });
</script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });

        $("#typeOfDesign").on("change", function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });
    </script>
}