@page 
@model DPAWaiver.Pages.Private.EquipmentMail.CreateModel 
@{ ViewData["Title"] = "Create Waiver - Service - Mail Service"; }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                First Name: Dogan
            </div>
            <div class="col-md-3 col-xs-3">
                Last Name: Cibiceli
            </div>
            <div class="col-md-5 col-xs-5">
                Email Address: dogan.cibiceli@state.co.us
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                Department: Education
            </div>
            <div class="col-md-3 col-xs-3">
                Division: Teacher
            </div>
            <div class="col-md-5 col-xs-5">
                Phone: 555-330-3303
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 14px">
            <div class="col-md-4 col-xs-4">
                Purpose: Service
            </div>
            <div class="col-md-4 col-xs-4">
                Type: Mail Service
            </div>
            <div class="col-md-4 col-xs-4">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="SubmittedOn" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="costEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="costEstimate" required="true" value="5000.03">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="justificationDescription" class="control-label fontWeightNormal">Justification for the request:</label>
            <textarea class="form-control" id="justificationDescription" rows='2'></textarea>
        </div>

        <div class="form-group required">
            <label for="numberOfEquipment" class="control-label fontWeightNormal">The type of equipment being requested:</label>
            <textarea class="form-control" id="numberOfEquipment" rows="1"></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="numberOfEquipment" class="control-label fontWeightNormal">Number of equipment?
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="How many pieces of equipment are being requested?
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="numberOfEquipment" aria-describedby="numberOfEquipment" placeholder="Number of Equipment, Integer">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                    <select class="form-control" id="newOrReplace">
                        <option>Additional</option>
                        <option>New</option>
                        <option>Replacement</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group required">
            <label for="servicesReceived" class="control-label fontWeightNormal">How do you currently receive this services?</label>
            <textarea class="form-control" id="servicesReceived" rows="2" placeholder="if replacement please describe present equipment including Make, Model and Acquisition Date."></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="monthlyLeaseAmount" class="control-label fontWeightNormal">Monthly Cost of Present Lease?</label>
                    <input type="number" class="form-control" id="monthlyLeaseAmount" placeholder="Cost of Present Service">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="monthlyVolume" class="control-label fontWeightNormal">Current Average Monthly Volume:</label>
                    <input type="number" class="form-control" id="monthlyVolume">
                </div>
            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Average Monthly Volume For Next Five Years</h3>
            </div>
            <div class="panel-body">
                <div class="form-group required col-sm-2 col-sm-offset-1">
                    <label for="firstYearVolume" class="control-label fontWeightNormal">1
                        <sup>st</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for first year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="firstYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="secondYearVolume" class="control-label fontWeightNormal">2
                        <sup>nd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for second year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="secondYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="thirdYearVolume" class="control-label fontWeightNormal">3
                        <sup>rd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for third year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="thirdYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="fourthYearVolume" class="control-label fontWeightNormal">4
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="fourthYearVolume">
                </div>
                <div class="form-group required col-sm-2">
                    <label for="fifthYearVolume" class="control-label fontWeightNormal">5
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="fifthYearVolume">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary marginTop40px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">If you are requesting specific equipment, please complete the following</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="make" class="control-label fontWeightNormal">Make</label>
                    <input type="text" class="form-control" id="make" aria-describedby="make" placeholder="Make">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="model" class="control-label fontWeightNormal">Model</label>
                    <input type="text" class="form-control" id="model" aria-describedby="model" placeholder="Model">
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="selectionReason" class="control-label fontWeightNormal">Reasons for selecting this particular equipment:</label>
            <textarea class="form-control" id="selectionReason" aria-describedby="selectionReason" placeholder="Reasons for selection"
                rows='2'></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="usefulLife" class="control-label fontWeightNormal">Expected useful life at anticipated volume:
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Expected useful life of equipment at your anticipated volume:"></span>
                    </label>
                    <input type="number" class="form-control" id="usefulLife" aria-describedby="usefulLife" placeholder="Expected useful life of this equipment">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="purchaseAmount" class="control-label fontWeightNormal">Purchase Amount
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Purchase Amount"></span>
                    </label>
                    <input type="number" class="form-control" id="purchaseAmount" aria-describedby="purchaseAmount" placeholder="Purchase Amount">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="monthlyLease" class="control-label fontWeightNormal">Monthly Lease Purchase Amount</label>
                    <input type="number" class="form-control" id="monthlyLease" aria-describedby="monthlyLease" placeholder="Monthly Lease Purchase Amount">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="monthsRental" class="control-label fontWeightNormal">Number of Months Rental or Lease</label>
                    <input type="number" class="form-control" id="monthsRental" aria-describedby="monthsRental" placeholder="Number of Months Rental or Lease">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                    <select class="form-control" id="acquisitionType">
                        <option value="1">Solicitation</option>
                        <option value="2">State Price Agreement</option>
                        <option>Lease</option>
                        <option>Discretionary Purchase</option>
                        <option>Cancelable Rental</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                <div class="form-group required">
                    <label for="solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                    <select class="form-control" id="solicitationSubType">
                        <option>Discretionary</option>
                        <option>DQ</option>
                        <option>IFB</option>
                        <option>RFP</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                <div class="form-group required">
                    <label for="statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                    <select class="form-control" id="statepriceSubType">
                        <option>Cancelable Rental</option>
                        <option>Lease</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="totalLeaseAmount" class="control-label fontWeightNormal">Total Lease Amount</label>
                    <input type="number" class="form-control" id="totalLeaseAmount" aria-describedby="totalLeaseAmount" placeholder="Total Lease Amount">
                </div>
            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Monthly Overhead Cost of Proposed Equipment</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="estimatedNumberOfFTE" class="control-label fontWeightNormal">Estimated number of FTE:
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of full time employees needed to complete this project. 
                This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 employees)"></i>
                            </label>

                            <input type="number" class="form-control" id="estimatedNumberOfFTE" aria-describedby="estimatedNumberOfFTE" placeholder="Full Time Employee Count">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <!-- TODO: Per FTE or overall, question is impacting all the screens ? -->

                        <div class="form-group required">
                            <label for="estimatedNumberOfHoursPerFTE" class="control-label fontWeightNormal">Estimated number of hours Per FTE:
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="Enter the estimated number of hours needed to complete this project. 
                This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 hours)"></span>
                            </label>
                            <input type="number" class="form-control" id="estimatedNumberOfHoursPerFTE" aria-describedby="estimatedNumberOfHoursPerFTE"
                                placeholder="Estimated number of hours per FTE">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <!-- TODO: Is this for all FTEs or total -->
                            <label for="weeklySalaryCost" class="control-label fontWeightNormal">Total Weekly Salary Cost for FTE:
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Total Weekly Salary Cost for FTE"></i>
                            </label>

                            <input type="number" class="form-control" id="weeklySalaryCost" aria-describedby="weeklySalaryCost" placeholder="Total Weekly Salary Cost for FTE">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="totalSpaceRequired" class="control-label fontWeightNormal">Total Space Required In Square Feet
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="Total Space Required In Square Feet. This is a numeric field. Decimal can be used."></span>
                            </label>
                            <input type="number" class="form-control" id="totalSpaceRequired" aria-describedby="totalSpaceRequired" placeholder="Total Space Required In Sq FT">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Overhead Cost</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="monthlySupervisionAmount" class="control-label fontWeightNormal">Monthly Supervision Amount
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Monthly Supervision Amount.This is a numeric field. Decimal can be used."></i>
                            </label>

                            <input type="number" class="form-control" id="monthlySupervisionAmount" aria-describedby="monthlySupervisionAmount" placeholder="Monthly Supervision Amount. Decimal is allowed">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">

                        <div class="form-group required">
                            <label for="monthlyManagementAmount" class="control-label fontWeightNormal">Monthly Management Amount
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="Monthly Management Amount. Decimal is allowed."></span>
                            </label>
                            <input type="number" class="form-control" id="monthlyManagementAmount" aria-describedby="monthlyManagementAmount" placeholder="Monthly Management Amount. Decimal is allowed">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="monthlyUtilitiesAmount" class="control-label fontWeightNormal">Monthly Utilities Amount
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Monthly Utilities Amount. Decimal is allowed."></i>
                            </label>
                            <input type="number" class="form-control" id="monthlyUtilitiesAmount" aria-describedby="monthlyUtilitiesAmount" placeholder="Monthly Utilities Amount. Decimal is allowed.">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label for="monthlyIndirectCosts" class="control-label fontWeightNormal">Monthly Indirect Costs
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="Monthly Indirect Costs. Decimal is allowed."></span>
                            </label>
                            <input type="number" class="form-control" id="monthlyIndirectCosts" aria-describedby="monthlyIndirectCosts" placeholder="Monthly Indirect Costs. Decimal is allowed.">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="miscellaneousCosts" class="control-label fontWeightNormal">Miscellaneous Overhead Costs
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Miscellaneous Overhead Costs. Decimal is allowed."></i>
                    </label>
                    <input type="number" class="form-control" id="miscellaneousCosts" aria-describedby="miscellaneousCosts" placeholder="Miscellaneous Overhead Costs. Decimal is allowed.">
                </div>
                <div class="form-group required" id="overHeadCostsDescription">
                    <label for="overheadDescription" class="control-label fontWeightNormal">Overhead Costs Description</label>
                    <textarea class="form-control" id="overheadDescription" rows="2"></textarea>
                </div>

                <div class="form-group required">
                    <label for="alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
                    <textarea class="form-control" id="overheadDescription" rows="2"></textarea>
                </div>


                <div class="form-group">
                    <label for="additionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
                    <textarea class="form-control" id="additionalComments" rows='2'></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row add-gutter marginTop20px pull-right">
    <a type="submit" class="btn btn-default btn-space-2x">Logout&nbsp;
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default btn-space-2x" onclick="reset();">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a type="submit" class="btn btn-primary">Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</div>

<div style="clear: both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#acquisitionType', ['#solicitationSubDiv'], {valueList: ['1']});
        showIfSelected('#acquisitionType', ['#statepriceSubDiv'], {valueList: ['2']});
        showIfNotEmpty('#miscellaneousCosts', '#overHeadCostsDescription');
    });

    $("#acquisitionType").on("change", function () {
        showIfSelected('#acquisitionType', ['#solicitationSubDiv'], {valueList: ['1']});
        showIfSelected('#acquisitionType', ['#statepriceSubDiv'], {valueList: ['2']});
    });
    $("#miscellaneousCosts").on("change paste keyup", function () {
           showIfNotEmpty('#miscellaneousCosts', '#overHeadCostsDescription');
    });

</script>
}
