@page
@model Status402Model
@{
    ViewData["Title"] = "Not found";
}

<div class='panel panel-primary marginTop20px'>
    <div class='panel-heading'>
        <h3 class='panel-title text-center'>NOT FOUND</h3>
    </div>
    <div class='panel-body'>
        Requested page is not found. If you believe this to be an error, please contact production support.
    </div> <!-- End of Panel Head Not found -->
</div> <!-- End of Panel Not found -->
