@page 
@model DPAWaiver.Pages.Private.ServiceMicrofilmConversion.CreateModel
@{ ViewData["Title"] = "Create Waiver - Service - Microfilm Conversion"; }

<h2>Create</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.ServiceMicrofilmConversionWaiver.OtherFirstName != null && Model.ServiceMicrofilmConversionWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServiceMicrofilmConversionWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServiceMicrofilmConversionWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.ServiceMicrofilmConversionWaiver.OtherFirstName)" />
                    <span asp-validation-for="ServiceMicrofilmConversionWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServiceMicrofilmConversionWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServiceMicrofilmConversionWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.ServiceMicrofilmConversionWaiver.OtherLastName)" />
                    <span asp-validation-for="ServiceMicrofilmConversionWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                Purpose: Service
            </div>
            <div class="col-md-6 col-xs-12">
                Type: Microfilm / Microfilm Conversion
            </div>
        </div>
        <div class="row"  style="margin-bottom: 20px">
            <div class="col-md-6 col-xs-12">
                Subtype: Microfilm Conversion
            </div>
            <div class="col-md-6 col-xs-12">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="SubmittedOn" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="CostEstimate" class="control-label fontWeightNormal">Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="CostEstimate" required="true" value="5000.03">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="WorkflowDescription" class="control-label fontWeightNormal">Describe the current workflow process:</label>
            <textarea class="form-control" id="WorkflowDescription" rows='2'></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="typeOfFilm" class="control-label fontWeightNormal">What type of film are you needing converting?</label>
                    <select class="form-control control-label" id="typeOfFilm">
                        <option>Please select one</option>
                        <option>16 mm microfilm</option>
                        <option>35 mm microfilm</option>
                        <option>aperture card</option>
                        <option>microfiche</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="numberOfRollsDiv">
                <div class="form-group required">
                    <label for="numberOfRolls" class="control-label fontWeightNormal">Estimated number of rolls:</label>
                    <input type="number" class="form-control" id="numberOfRolls">
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="numberOfCardsDiv">
                <div class="form-group required">
                    <label for="numberOfCards" class="control-label fontWeightNormal">Estimated number of cards/sheets:</label>
                    <input type="number" class="form-control" id="numberOfCards">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="numberofCards" class="control-label fontWeightNormal">Estimated number of FTE:
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of full time employees needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 employees)"></i>
                    </label>
                    
                    <input type="number" class="form-control" id="numberofCards" aria-describedby="numberofCards" placeholder="Full Time Employee Count">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">

                <div class="form-group required">
                    <label for="estimatedNumberOfHours" class="control-label fontWeightNormal">Estimated number of hours:<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the estimated number of hours needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 hours)"></span>
                    </label>
                    <input type="number" class="form-control" id="estimatedNumberOfHours" aria-describedby="estimatedNumberOfHours" placeholder="Estimated number of hours">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="indexingNeeded" class="control-label fontWeightNormal">Will the job require indexing</label>
                        <select class="form-control control-label" id="indexingNeeded">
                            <option>No</option>
                            <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required" id="EstimatedNumberOfFieldsDiv">
                    <label for="EstimatedNumberOfFields" class="control-label fontWeightNormal">Estimated number of fields per document:<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of fields per documents needed to complete this project. 
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="EstimatedNumberOfFields" aria-describedby="EstimatedNumberOfFields" placeholder="Estimated number of fields per document">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="textSearchablePDF" class="control-label fontWeightNormal">Do you need a text searchable .pdf?</label>
                    <select class="form-control control-label" id="textSearchablePDF">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="imageDelivery" class="control-label fontWeightNormal">How do you need the receive the images?</label>
                    <select class="form-control control-label" id="imageDelivery">
                        <option>DVD</option>
                        <option>USB</option>
                        <option value=2>Email</option>
                        <option>Google Drive</option>
                        <option value=1>Other</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="form-group required" id="otherImageDeliveryDiv">
            <label for="otherImageDelivery" class="control-label fontWeightNormal">Please specify other delivery method:</label>
            <textarea class="form-control" id="otherImageDelivery" rows="2"></textarea>
        </div>

        <div class="form-group required" id="emailImageDeliveryDiv">
            <label for="emailOtherImageDelivery" class="control-label fontWeightNormal">Please specify email address(es) seperated by semicolon:</label>
            <textarea class="form-control" id="emailOtherImageDelivery" rows="2"></textarea>
        </div>

        <div class="form-group required">
            <label for="systemRequirements" class="control-label fontWeightNormal">Specify system requirements.</label>
            <textarea class="form-control" id="systemRequirements" rows="2"></textarea>
        </div>

        <div class="form-group required">
            <label for="keyedIntoSystem" class="control-label fontWeightNormal">Can the data be converted and imported into your department's internal database.</label>
            <select class="form-control control-label" id="keyedIntoSystem">
                <option>Please select one</option>
                <option value='0'>No</option>
                <option value='1'>Yes</option>
            </select>
        </div>

        <div class='form-group required' id='reasonForNotKeyedIntoSystemDiv'>
            <label for='ReasonForNotKeyedIntoSystem' class='control-label fontWeightNormal'>Please explain why</label>
            <input type='text' class='form-control' id='ReasonForNotKeyedIntoSystem' aria-describedby='ReasonForNotKeyedIntoSystem' placeholder='Please explain why'>
        </div>

      <div class="form-group required">
            <label for="doneInHouse" class="control-label fontWeightNormal">Can the microfilm function be provided by the State's scanning unit.</label>
            <select class="form-control control-label" id="doneInHouse">
                <option>Please select one</option>
                <option value='0'>No</option>
                <option value='1'>Yes</option>
            </select>
        </div>

        <div class='form-group required' id='notInHouseReasonDiv'>
            <label for='NotInHouseReason' class='control-label fontWeightNormal'>Please explain why</label>
            <input type='text' class='form-control' id='NotInHouseReason' aria-describedby='NotInHouseReason' placeholder='Please explain why'>
        </div>


        <div class="form-group">
            <label for="AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
            <textarea class="form-control" id="AdditionalComments" rows='2'></textarea>
        </div>

    </div>

</div>


<div class="row add-gutter marginTop20px pull-right">
    <partial name='_Logout' />
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <button class="btn btn-default btn-space-2x" type="reset">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    <button type="submit" class="btn btn-primary" id='createwaiver' value='Submit'>
            Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    </a>
</div>
</form>

<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#typeOfFilm', ['#numberOfRollsDiv'], {textList:['16 mm microfilm','35 mm microfilm']});
        showIfSelected('#typeOfFilm', ['#numberOfCardsDiv'], {textList:['aperture card','microfiche']});
        showIfSelected('#indexingNeeded', ['#EstimatedNumberOfFieldsDiv'], {textList:['Yes']});
        showIfSelected('#imageDelivery', ['#otherImageDeliveryDiv'], {valueList:['1']});
        showIfSelected('#imageDelivery', ['#emailImageDeliveryDiv'], {valueList:['2']});
        showIfSelected('#keyedIntoSystem', ['#reasonForNotKeyedIntoSystemDiv'], { valueList: ['0']});
        showIfSelected('#doneInHouse', ['#notInHouseReasonDiv'], { valueList: ['0']});
    });

    $("#typeOfFilm").on("change", function () {
        showIfSelected('#typeOfFilm', ['#numberOfRollsDiv'], {textList:['16 mm microfilm','35 mm microfilm']});
    });
   
    $("#typeOfFilm").on("change", function () {
        showIfSelected('#typeOfFilm', ['#numberOfCardsDiv'], {textList:['aperture card','microfiche']});
    });

    $("#indexingNeeded").on("change", function () {
        showIfSelected('#indexingNeeded', ['#EstimatedNumberOfFieldsDiv'], {textList:['Yes']});
    });

    $("#imageDelivery").on("change", function () {
        showIfSelected('#imageDelivery', ['#otherImageDeliveryDiv'], {valueList:['1']});
        showIfSelected('#imageDelivery', ['#emailImageDeliveryDiv'], {valueList:['2']});
    });

    $("#keyedIntoSystem").on("change", function () {
        showIfSelected('#keyedIntoSystem', ['#reasonForNotKeyedIntoSystemDiv'], { valueList: ['0']});
    });

    $("#doneInHouse").on("change", function () {
        showIfSelected('#doneInHouse', ['#notInHouseReasonDiv'], { valueList: ['0']});
    });




</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });

        $("#typeOfDesign").on("change", function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });
    </script>
}