@page 
@model DPAWaiver.Pages.Private.EquipmentPrintA3.CreateModel  
@{ ViewData["Title"] = "Create Waiver - Equipment - Print / Copy - A3 Multi Function Printer";}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.EquipmentPrintA3Waiver.OtherFirstName != null && Model.EquipmentPrintA3Waiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintA3Waiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintA3Waiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintA3Waiver.OtherFirstName)" />
                    <span asp-validation-for="EquipmentPrintA3Waiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintA3Waiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintA3Waiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintA3Waiver.OtherLastName)" />
                    <span asp-validation-for="EquipmentPrintA3Waiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                Purpose: Equipment
            </div>
            <div class="col-md-6 col-xs-12">
                Type: Print / Copy
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6 col-xs-12">
                Subtype: A3 Multi Function Printer
            </div>
            <div class="col-md-6 col-xs-12">
                Status: Started
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintA3Waiver.projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                    <span asp-validation-for="EquipmentPrintA3Waiver.projectName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintA3Waiver.SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="SubmittedOn" required="true" value="05/04/2018">
                    <span asp-validation-for="EquipmentPrintA3Waiver.SubmittedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintA3Waiver.CostEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="CostEstimate" required="true" value="5000.03">
                    <span asp-validation-for="EquipmentPrintA3Waiver.CostEstimate" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<form method="POST">
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Details</h3>
        </div>
        <div class="panel-body">

            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.printerType' class='control-label fontWeightNormal'>Type of equipment being requested:</label>
                        <select class='form-control' id='printerType' aria-describedby='printerType'>
                        </select>
                        <span asp-validation-for="EquipmentPrintA3Waiver.printerType" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintA3Waiver.newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                        <select class="form-control" id="newOrReplace">
                            <option>Additional</option>
                            <option>New</option>
                            <option>Replacement</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintA3Waiver.newOrReplace" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class='row' id='otherPrinterTypeDiv'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.Make' class='control-label fontWeightNormal'>Make</label>
                        <input type='text' class='form-control' id='Make' aria-describedby='Make' placeholder='Make'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.Make" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.Model' class='control-label fontWeightNormal'>Model</label>
                        <input type='text' class='form-control' id='Model' aria-describedby='Model' placeholder='Model'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.Model" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- end of row -->


            <div class="form-group required">
                <label asp-for="EquipmentPrintA3Waiver.servicesReceived" class="control-label fontWeightNormal">How do you currently receive this services?</label>
                <textarea class="form-control" id="servicesReceived" rows="2" placeholder="if replacement please describe present equipment including Make, Model and Acquisition Date."></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.servicesReceived" class="text-danger"></span>
            </div>

          

            <div class="form-group required">
                <label asp-for="EquipmentPrintA3Waiver.selectionReason" class="control-label fontWeightNormal">Reasons for selecting this particular equipment:</label>
                <textarea class="form-control" id="selectionReason" aria-describedby="selectionReason" placeholder="Reasons for selection"
                    rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.selectionReason" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintA3Waiver.acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                        <select class="form-control" id="acquisitionType">
                            <option value="1">Solicitation</option>
                            <option value="2">State Price Agreement</option>
                            <option value="3">Lease</option>
                            <option value="4">Discretionary Purchase</option>
                            <option>Cancelable Rental</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintA3Waiver.acquisitionType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintA3Waiver.solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                        <select class="form-control" id="solicitationSubType">
                            <option>Discretionary</option>
                            <option>DQ</option>
                            <option>IFB</option>
                            <option>RFP</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintA3Waiver.statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                        <select class="form-control" id="statepriceSubType">
                            <option>Cancelable Rental</option>
                            <option>Lease</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintA3Waiver.statepriceSubType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" id="purchaseAmountDiv">
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.purchaseAmount' class='control-label fontWeightNormal'>Purchase Amount</label>
                        <input type='number' class='form-control' id='purchaseAmount' aria-describedby='purchaseAmount' placeholder='Purchase Amount'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.purchaseAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" id="leaseDurationDiv">
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.leaseDuration' class='control-label fontWeightNormal'>Lease Duration</label>
                        <select class='form-control' id='leaseDuration' aria-describedby='leaseDuration'>
                            <option value='48'>48 months</option>
                            <option value='60'>60 months</option>
                            <option value='0'>Other</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintA3Waiver.leaseDuration" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class='row' id='leaseTermsDiv'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.numberOfMonths' class='control-label fontWeightNormal'>Number of Months of Lease</label>
                        <input type='number' class='form-control' id='numberOfMonths' aria-describedby='numberOfMonths' placeholder='Number of Months of Lease'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.numberOfMonths" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.monthlyLeaseAmount' class='control-label fontWeightNormal'>Monthly Lease Amount</label>
                        <input type='number' class='form-control' id='monthlyLeaseAmount' aria-describedby='monthlyLeaseAmount' placeholder='Monthly Lease Amount'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.monthlyLeaseAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- end of row -->

              <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.blackCostPerPage' class='control-label fontWeightNormal'>Monochrome/black cost per click associated with the lease?</label>
                        <input type='number' class='form-control' id='blackCostPerPage' aria-describedby='blackCostPerPage' placeholder='Monochrome (black) cost per click associated with the Lease?'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.blackCostPerPage" class="text-danger"></span>
                    </div>
                </div> <!-- TODO: per click or per page ? what does per click mean -->
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.colorCostPerPage' class='control-label fontWeightNormal'>What is the Color cost per click associated with the Lease</label>
                        <input type='number' class='form-control' id='colorCostPerPage' aria-describedby='colorCostPerPage' placeholder='Color cost per click associated with the Lease'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.colorCostPerPage" class="text-danger"></span>
                    </div>
                </div>
            </div> <!-- TODO: is this only lease specific or for everything if so, when should it be required -->
            <!-- end of row -->

            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.blackMonthlyVolume' class='control-label fontWeightNormal'>Anticipated monochrome/black monthly volume:</label>
                        <input type='number' class='form-control' id='blackMonthlyVolume' aria-describedby='blackMonthlyVolume' placeholder='Anticipated Average Monochrome/black monthly volume:'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.blackMonthlyVolume" class="text-danger"></span>
                    </div>                
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintA3Waiver.colorMonthlyVolume' class='control-label fontWeightNormal'>Anticipated average color monthly volume</label>
                        <input type='number' class='form-control' id='colorMonthlyVolume' aria-describedby='colorMonthlyVolume' placeholder='Anticipated average color volume'>
                        <span asp-validation-for="EquipmentPrintA3Waiver.colorMonthlyVolume" class="text-danger"></span>
                    </div>                
                </div>
            </div>
            <!-- end of row -->


            <hr class='sectionHeaderHR' />
            <div class='form-group required'>
                <label asp-for='EquipmentPrintA3Waiver.leaseAccessories' class='control-label fontWeightNormal'>List what accessories were added as part of your lease/rental agreement.</label>
                <textarea class='form-control' id='leaseAccessories' aria-describedby='leaseAccessories' placeholder='List what accessories were added as part of your lease/rental agreement.' rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.leaseAccessories" class="text-danger"></span>
            </div>
            <div class='form-group required'>
                <label asp-for='EquipmentPrintA3Waiver.justificationDescription' class='control-label fontWeightNormal'>Justification For Request</label>
                <textarea class='form-control' id='justificationDescription' aria-describedby='justificationDescription' placeholder='Justification For Request'
                    rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.justificationDescription" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="EquipmentPrintA3Waiver.alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
                <textarea class="form-control" id="alternativesDescription" rows="2" placeholder="Please describe the alternatives you have examined before making the request"></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.alternativesDescription" class="text-danger"></span>
            </div>

            <div class='form-group required'>
                <label asp-for='EquipmentPrintA3Waiver.complianceDescription' class='control-label fontWeightNormal'>Please describe how OIT/DPA recommendations to consolidate printing assets are followed</label>
                <textarea class='form-control' id='complianceDescription' aria-describedby='complianceDescription' placeholder='Please describe what printing practices are being made to comply with the DPA/OIT Recommendations to consolidate printing assets and move print to more cost effective centralized network devices.' rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.complianceDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EquipmentPrintA3Waiver.AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
                <textarea class="form-control" id="AdditionalComments" rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintA3Waiver.AdditionalComments" class="text-danger"></span>
            </div>



        </div>
    </div>

    <div class="row add-gutter marginTop20px pull-right">
        <partial name='_Logout' />
        <a class="btn btn-default" onclick="print();">Print&nbsp;
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <button class="btn btn-default btn-space-2x" type="reset">Clear Form&nbsp;
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button type="submit" class="btn btn-primary" id='createwaiver' value='Submit'>
            Create Waiver&nbsp;
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
</form>

</form>

<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#acquisitionType', ['#solicitationSubDiv'], {            valueList: ['1']        });
        showIfSelected('#acquisitionType', ['#statepriceSubDiv'], {            valueList: ['2']        });
        showIfSelected('#acquisitionType', ['#purchaseAmountDiv'], {            valueList: ['4']        });
        showIfSelected('#acquisitionType', ['#leaseTermsDiv','#leaseDurationDiv'], { valueList: ['3'] });
        showIfSelected('#printerType', ['#otherPrinterTypeDiv'], {            valueList: ['1']        });

        // $('.usd_input').mask('0000000.00', { reverse: true }); in case
    });

    $("#acquisitionType").on("change", function () {
        showIfSelected('#acquisitionType', ['#solicitationSubDiv'], {valueList: ['1']});
        showIfSelected('#acquisitionType', ['#statepriceSubDiv'], {valueList: ['2']});
        showIfSelected('#acquisitionType', ['#purchaseAmountDiv'], {valueList: ['4']});
        showIfSelected('#acquisitionType', ['#leaseTermsDiv','#leaseDurationDiv'], { valueList: ['3'] });
    });

    $("#printerType").on("change", function () {
        showIfSelected('#printerType', ['#otherPrinterTypeDiv'], {valueList: ['1']});
    });
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });

        $("#typeOfDesign").on("change", function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });
    </script>
}