@page

@model CreateWaiverPrototypeStep1Model
@{ ViewData["Title"] = "Create Waiver"; }

<form method="POST">
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Request System</h3>
        </div>
        <div class="panel-body" style="padding: 20px">
            In order to provide you with the appropriate form, please select from the options below.
            <br /> Select the Purpose of this waiver.
            <div class="row marginTop20px">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label for="purpose" class="control-label">Purpose:</label>
                        <select class="form-control" id="purpose" asp-for="selectedPurpose" asp-items="Model.purposes">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="selectedPurpose" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label for="selectedType" class="control-label">Type:</label>
                        <select class="form-control" id="selectedType" asp-for="selectedType">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="selectedType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required" id="subtypeDiv">
                        <label for="subtype" class="control-label">Subtype</label>
                        <select class="form-control" id="subtype" asp-for="selectedSubtype" asp-items="Model.microfilmSubtypes">
                            <option value="0">Please select one</option>
                        </select>
                        <span asp-validation-for="selectedSubtype" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row marginTop20px">
                <div class="col-md-12 col-xs-12 text-muted">
                        If you have any questions, please contact Diana (Rae) Wiant at <a href='tel:1-719-948-5751'>719-948-5751</a> for data entry, microfilm and scanning / imaging /
                        conversion services or equipment typically provided by Integrated Document Solutions (IDS).
                        <br/><br/>Contact Mike Lincoln at <a href='tel:1-303-866-3874'>303-866-3874</a> for mail service, print/copy and graphic design services or
                        equipment typically provided by Integrated Document Solutions (IDS). For technical support,
                        <a href="https://oitservicedesk.state.co.us/" target="_blank">
                            click here to submit a Customer IT Request
                        </a>.
                </div>
            </div>

            <div class="row add-gutter marginTop20px pull-right">
                <partial name='_Logout' />
                <input type="submit" class="btn btn-primary" value="Continue">

        </div>
        </div>
    </div>
    <input type="hidden" name="otherFirstName" value="@Model._otherFirstName"/>
    <input type="hidden" name="otherLastName" value="@Model._otherLastName"/>
</form>

<div style="clear:both"></div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            showWhenTrue(['#subtypeDiv'], {cb:whenToShowSubType});
            loadTypes();
        });

        $("#purpose").on("change", function () {
            showWhenTrue(['#subtypeDiv'], {cb:whenToShowSubType});
            loadTypes();
        });

        $("#selectedType").on("change", function () {
            var token = $('input[name="__RequestVerificationToken"]', $('form')).val();
            var myData = { typeId: $("#selectedType").val(),  '__RequestVerificationToken': token};
            getSelectList("/Prototype/CreateWaiverPrototypeStep1?handler=type",myData, '#subtype');
            showWhenTrue(['#subtypeDiv'], {cb:whenToShowSubType});
        });

        function whenToShowSubType() {
            writeToConsole('purpose [' + $('#purpose option:selected').val() + 
                           '] selectedType [' + $('#selectedType option:selected').val() + ']');
            let returnValue =  
                ( $('#purpose option:selected').val() === '1' &&
                  $('#selectedType  option:selected').val() ===  '5' ) || 
                ( $('#purpose option:selected').val() === '3' &&
                  $('#selectedType option:selected').val() === '11') ;
            writeToConsole('return Value ' + returnValue) ;
            return returnValue;
        }
        function loadTypes() {
            var token = $('input[name="__RequestVerificationToken"]', $('form')).val();
            var myData = { purposeId: $("#purpose").val(),  '__RequestVerificationToken': token};
            var option = $('<option></option>').text('Please select one');
            getSelectList("/Prototype/CreateWaiverPrototypeStep1?handler=purpose",myData, '#selectedType', {optsToAdd:[option]});
        }
    </script>
}