@page 
@model CreateWaiverServicePrinterModel 
@{ ViewData["Title"] = "Create Waiver - Service - Print"; }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
             <div class="col-md-3 col-xs-3">
                First Name: Test
            </div>
            <div class="col-md-3 col-xs-3">
                Last Name: User
            </div>
            <div class="col-md-5 col-xs-5">
                Email Address: test.user@state.co.us
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                Department: Education
            </div>
            <div class="col-md-3 col-xs-3">
                Division: Teacher
            </div>
            <div class="col-md-5 col-xs-5">
                Phone: 555-330-3303
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 14px">
            <div class="col-md-4 col-xs-4">
                Purpose: Service
            </div>
            <div class="col-md-4 col-xs-4">
                Type: Print / Copy
            </div>
            <div class="col-md-4 col-xs-4">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="submittedDate" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="submittedDate" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="costEstimate" class="control-label fontWeightNormal">Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="costEstimate" required="true" value="5000.03">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="itemDescription" class="control-label fontWeightNormal">Describe the item to be printed/copied:</label>
            <textarea class="form-control" id="itemDescription" rows='2'></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="estimateObtained" class="control-label fontWeightNormal">Have you acquired an estimate from the vendor:</label>
                    <select class="form-control control-label" id="estimateObtained">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" id="estimateFileDiv">
                <div class="form-group required">
                    <label for="estimateFile" class="control-label fontWeightNormal">Upload the received estimate:</label>
                    <input type="file" class="form-control-file" id="estimateFile">
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="paperStockType" class="control-label fontWeightNormal">Type of Paper Stock:</label>
            <select class="form-control control-label" id="paperStockType">
                <option>Card Stock</option>
                <option>Copy Paper Stock</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group required" id="otherPaperStockReasonDiv">
            <label for="otherPaperStockReason" class="control-label fontWeightNormal">If Other, please explain</label>
            <textarea class="form-control" id="otherPaperStockReason" rows="1"></textarea>
        </div>

        <div class="form-group required">
            <label for="finishingType" class="control-label fontWeightNormal">Type of Finishing:</label>
            <select class="form-control control-label" id="finishingType">
                <option>Folding</option>
                <option>Numbering</option>
                <option>Padding</option>
                <option>Perfect Bind</option>
                <option>Punch and Bind </option>
                <option>Saddle Stitch</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group required">
            <label for="reprint" class="control-label fontWeightNormal">Is this a reprint:</label>
            <select class="form-control control-label" id="reprint">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>

        <div class="form-group" id="previousPrinterDiv">
            <label for="previousPrinter" class="control-label fontWeightNormal">If it is a reprint, who was the previous printer</label>
            <input class="form-control" id="previousPrinter" type="text">
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="numberOfOriginals" class="control-label fontWeightNormal">Number of Originals:
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the number of originals. 
This is a numeric field."></i>
                    </label>
                    <input type="number" class="form-control" id="numberOfOriginals" aria-describedby="numberOfOriginals" placeholder="Number of originals">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="quantity" class="control-label fontWeightNormal">Quantity:
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the quantity. This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="quantity" aria-describedby="quantity" placeholder="Quantity. Numeric .">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="fourColorJob" class="control-label fontWeightNormal">Is this a 4 color print job:
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The definition of 4 color printing is offset printing.  
4 color printing is not applicable to digital printing.  
If you are needing digital printing, select 'No'."></i>
                    </label>
                    <select class="form-control control-label" id="fourColorJob">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required" id="numberOfInksDiv">
                    <label for="numberOfInks" class="control-label fontWeightNormal">Number of Inks:
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the number of inks. This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="numberOfInks" aria-describedby="numberOfInks" placeholder="Number of Inks. Numeric">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="projectDueDate" class="control-label fontWeightNormal">Due Date Of Project: </label>
                    <input type="date" class="form-control" id="projectDueDate" aria-describedby="projectDueDate" placeholder="Due Date of Project">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="finishedSize" class="control-label fontWeightNormal">Finished Size:
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the finished size. 
(i.e. 8.5 x 11)"></span>
                    </label>
                    <input type="text" class="form-control" id="finishedSize" aria-describedby="finishedSize" placeholder="Finished size, such as 8.5x11">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="AdditionalComments" class="control-label fontWeightNormal">Additional Waiver Comments:</label>
            <textarea class="form-control" id="AdditionalComments" rows='2'></textarea>
        </div>

    </div>

</div>


<div class="row add-gutter marginTop20px pull-right">
    <a type="submit" class="btn btn-default btn-space-2x">Logout&nbsp;
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default btn-space-2x" onclick="reset();">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a type="submit" class="btn btn-primary" id='createWaiver'>
            Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    </a>
</div>
<div style="clear:both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#estimateObtained', ['#estimateFileDiv'], {textList:['Yes']});
        showIfSelected('#paperStockType', ['#otherPaperStockReasonDiv'], {textList:['Other']});
        showIfSelected('#reprint', ['#previousPrinterDiv'], {textList:['Yes']});
        showIfSelected('#fourColorJob', ['#numberOfInksDiv'], {textList:['Yes']});
    });

    $("#estimateObtained").on("change", function () {
        showIfSelected('#estimateObtained', ['#estimateFileDiv'], {textList:['Yes']});
    });

    $("#paperStockType").on("change", function () {
        showIfSelected('#paperStockType', ['#otherPaperStockReasonDiv'], {textList:['Other']});
    });

    $("#reprint").on("change", function () {
        showIfSelected('#reprint', ['#previousPrinterDiv'], {textList:['Yes']});
    });

    $("#fourColorJob").on("change", function () {
        showIfSelected('#fourColorJob', ['#numberOfInksDiv'], {textList:['Yes']});
    });
</script>
}