@page

@model CreateWaiverStep1Model
@{ ViewData["Title"] = "Create Waiver"; }

<form method="POST">
    <div class="panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Request System</h3>
        </div>

        <div class="panel-body" style="padding: 20px">
            In order to provide you with the appropriate form, please select from the options below.
            <br /> Select the Purpose of this waiver.
            <div class="row marginTop20px">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group required">
                        <label for="purpose" class="control-label">Purpose:</label>
                        <select class="form-control" id="purpose" asp-for="selectedPurpose" asp-items="Model.purposes">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="selectedPurpose" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group required">
                        <label for="selectedType" class="control-label">Type:</label>
                        <select class="form-control" id="selectedType" asp-for="selectedType">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="selectedType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group required" id="subtypeDiv">
                        <label for="subtype" class="control-label">Subtype</label>
                        <select class="form-control" id="subtype" asp-for="selectedSubtype" asp-items="Model.microfilmSubtypes">
                            <option value="0">Please select one</option>
                        </select>
                        <span asp-validation-for="selectedSubtype" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row marginTop20px">
                <div class="col-md-12 col-xs-12">
                    <small class="text-muted">
                        If you have any questions, please contact Diana Wiant at 719.948.5751 for data entry, microfilm and scanning / imaging /
                        conversion services or equipment typically provided by Integrated Document Solutions (IDS).
                        <br />Contact Mike Lincoln at 303.866.3874 for mail service, print/copy and graphic design services or
                        equipment typically provided by Integrated Document Solutions (IDS). For technical support,
                        <a href="https://oitservicedesk.state.co.us/" target="_blank">
                            click here to submit a Customer IT Request
                        </a>.
                    </small>
                </div>
            </div>

            <div class="row add-gutter marginTop20px pull-right">
                <a type="submit" class="btn btn-default btn-space-2x">
                    Logout&nbsp;
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                </a>
                <input type="submit" class="btn btn-primary" value="Continue">
            </div>
        </div>
    </div>
</form>

<div style="clear:both"></div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            showIfSelected('#selectedType', '#subtypeDiv', {textList:['Microfilm / Microfilm Conversion']});
        });

        $("#purpose").on("change", function () {
            var token = $('input[name="__RequestVerificationToken"]', $('form')).val();
            var myData = { purposeId: $("#purpose").val(),  '__RequestVerificationToken': token};

            getSelectList("/CreateWaiverStep1?handler=type",myData, '#selectedType');
        });

        $("#selectedType").on("change", function () {
            showIfSelected('#selectedType', '#subtypeDiv', {textList:['Microfilm / Microfilm Conversion']});
        });
    </script>
}