@page 
@model CreateWaiverServiceMicrofilmConversionModel 
@{ ViewData["Title"] = "Create Waiver - Service - Microfilm Conversion"; }

<div class="panel panel-success marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                First Name: Dogan
            </div>
            <div class="col-md-3 col-xs-3">
                Last Name: Cibiceli
            </div>
            <div class="col-md-5 col-xs-5">
                Email Address: dogan.cibiceli@state.co.us
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                Department: Education
            </div>
            <div class="col-md-3 col-xs-3">
                Division: Teacher
            </div>
            <div class="col-md-5 col-xs-5">
                Phone: 555-330-3303
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                Purpose: Service
            </div>
            <div class="col-md-6 col-xs-6">
                Type: Microfilm / Microfilm Conversion
            </div>
        </div>
        <div class="row"  style="margin-bottom: 20px">
            <div class="col-md-6 col-xs-6">
                Subtype: Microfilm Conversion
            </div>
            <div class="col-md-6 col-xs-6">
                Status: Started
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="submittedDate" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="submittedDate" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="costEstimate" class="control-label fontWeightNormal">Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="costEstimate" required="true" value="5000.03">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-success marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label for="itemDescription" class="control-label fontWeightNormal">Describe the current workflow process:</label>
            <textarea class="form-control" id="itemDescription" rows="3"></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="typeOfFilm" class="control-label fontWeightNormal">What type of film are you needing converting?</label>
                    <select class="form-control control-label" id="typeOfFilm">
                        <option>Please select one</option>
                        <option>16 mm microfilm</option>
                        <option>35 mm microfilm</option>
                        <option>aperture card</option>
                        <option>microfiche</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-6" id="numberOfRollsDiv">
                <div class="form-group required">
                    <label for="numberOfRolls" class="control-label fontWeightNormal">Estimated number of rolls:</label>
                    <input type="number" class="form-control" id="numberOfRolls">
                </div>
            </div>
            <div class="col-md-6 col-xs-6" id="numberOfCardsDiv">
                <div class="form-group required">
                    <label for="numberOfCards" class="control-label fontWeightNormal">Estimated number of cards/sheets:</label>
                    <input type="number" class="form-control" id="numberOfCards">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="estimatedNumberOfFTE" class="control-label fontWeightNormal">Estimated number of FTE:
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of full time employees needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 employees)"></i>
                    </label>
                    
                    <input type="number" class="form-control" id="estimatedNumberOfFTE" aria-describedby="estimatedNumberOfFTE" placeholder="Full Time Employee Count">
                </div>
            </div>
            <div class="col-md-6 col-xs-6">

                <div class="form-group required">
                    <label for="estimatedNumberOfHours" class="control-label fontWeightNormal">Estimated number of hours:<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the estimated number of hours needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 hours)"></span>
                    </label>
                    <input type="number" class="form-control" id="estimatedNumberOfHours" aria-describedby="estimatedNumberOfHours" placeholder="Estimated number of hours">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="indexingNeeded" class="control-label fontWeightNormal">Will the job require indexing</label>
                        <select class="form-control control-label" id="indexingNeeded">
                            <option>No</option>
                            <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="form-group required" id="estimatedNumberOfFieldsDiv">
                    <label for="estimatedNumberOfFields" class="control-label fontWeightNormal">Estimated number of fields per document:<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of fields per documents needed to complete this project. 
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" id="estimatedNumberOfFields" aria-describedby="estimatedNumberOfFields" placeholder="Estimated number of fields per document">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="rollsLabeled" class="control-label fontWeightNormal">Do you need the rolls labeled?</label>
                    <select class="form-control control-label" id="rollsLabeled">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="form-group required">
                    <label for="duplicateRolls" class="control-label fontWeightNormal">Do you need duplicate rolls of what is microfilmed?</label>
                    <select class="form-control control-label" id="duplicateRolls">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="form-group required">
            <label for="jobRequirements" class="control-label fontWeightNormal">Specify microfilm job requirements:</label>
            <textarea class="form-control" id="jobRequirements" rows="2"></textarea>
        </div>

        <div class="form-group required">
            <label for="alternativeMethods" class="control-label fontWeightNormal">What other alternative methods have you looked at? Please provide details.</label>
            <textarea class="form-control" id="alternativeMethods" rows="2"></textarea>
        </div>

        <div class="form-group required">
            <label for="notInHouseReason" class="control-label fontWeightNormal">Customer believes that this microfilm function cannot be performed by the State's scanning unit. Please provide details as to why:</label>
            <textarea class="form-control" id="notInHouseReason" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="additionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
            <textarea class="form-control" id="additionalComments" rows="3"></textarea>
        </div>

    </div>

</div>


<div class="row add-gutter marginTop20px pull-right">
    <a type="submit" class="btn btn-default btn-space-2x">Logout&nbsp;
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default btn-space-2x" onclick="reset();">Clear Form&nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a type="submit" class="btn btn-primary">Create Waiver&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    </a>
</div>
<div style="clear:both"></div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#typeOfFilm', '#numberOfRollsDiv', ['16 mm microfilm','35 mm microfilm']);
        showIfSelected('#typeOfFilm', '#numberOfCardsDiv', ['aperture card','microfiche']);
    });

    $("#typeOfFilm").on("change", function () {
        showIfSelected('#typeOfFilm', '#numberOfRollsDiv', ['16 mm microfilm','35 mm microfilm']);
    });
   
    $("#typeOfFilm").on("change", function () {
        showIfSelected('#typeOfFilm', '#numberOfCardsDiv', ['aperture card','microfiche']);
    });

    $("#indexingNeeded").on("change", function () {
        showIfSelected('#indexingNeeded', '#estimatedNumberOfFieldsDiv', ['Yes']);
    });

</script>
}