@page 
@model ForgotPasswordModel 
@{ ViewData["Title"] = "Forgot Your Password?"; }


<div class="panel panel-success" style="margin-top: 20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Request System</h3>
    </div>
    <form action="/Login.asp" role="form">
        <div class="panel-body" style="padding: 20px">
            <div class="col-md-4 col-md-push-4">
                <ul class="nomargin">
                    <li>Please enter your email address you have registered with. </li>
                    <li>An email with a link will be sent to reset your password.</li>
                </ul>
                <div class="form-group required" style="margin-top: 20px">
                    <label for="email" class="control-label">Email Address Registered With</label>
                    <input type="email" class="form-control" id="email" required="true" placeholder="Email Address you have registered with">
                </div>
                <a type="submit" class="btn btn-primary pull-right">Reset My Password&nbsp;</span>
                </a>
            </div>
        </div>
    </form>
</div>