@page 
@model RegisterModel 
@{ ViewData["Title"] = "Home"; }


<div class="panel panel-success" style="margin-top: 20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <form action="/Login.asp" role="form">
        <div class="panel-body" style="padding: 20px">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group required" style="margin-top: 20px">
                        <label for="firstName" class="control-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" required="true" placeholder="Your First Name">
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required" style="margin-top: 20px">
                        <label for="lastName" class="control-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" required="true" placeholder="Your Last Name">
                    </div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <div class="form-group required" style="margin-top: 20px">
                        <label for="email" class="control-label">Email Address:</label>
                        <input type="email" class="form-control" id="email" required="true" placeholder="State Email Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group required">
                        <label for="department" class="control-label">Department:</label>
                        <select class="form-control" id="department">
                            <option>Agriculture</option>
                            <option>Corrections</option>
                            <option>Education</option>
                            <option>General Assembly</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required">
                        <label for="division" class="control-label">Division:</label>
                        <input type="text" class="form-control" id="division" required="false" placeholder="Enter your division">
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required">
                        <label for="phone" class="control-label">Phone:</label>
                        <input type="tel" class="form-control" id="phone" required="true" placeholder="555-389-3940">
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="Exntension" class="control-label">Extension:</label>
                        <input type="number" class="form-control" id="phoneExt" required="false" placeholder="1234">
                    </div>
                </div>
            </div>

            <a type="submit" class="btn btn-primary pull-right">Update&nbsp;</a>
            </a>
        </div>
</div>
</form>
<div class="row add-gutter marginTop20px">
<a asp-page="./CreateWaiverStep1" type="submit" class="btn btn-primary btn-space">Create New Waiver&nbsp;</a>
<a asp-page="./WaiverHistory" type="submit" class="btn btn-primary btn-space">View Existing Waiver&nbsp;</a>
<a type="submit" class="btn btn-default ">Logout&nbsp;<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
</div>
</div>