@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="panel panel-success" style="margin-top: 20px">
  <div class="panel-heading">
    <h3 class="panel-title">Waiver Request System</h3>
  </div>
  <div class="panel-body">
      <div class="row"  style="margin-top: 20px">
        <div class="col-lg-4 text-center">
            <a href="Overview_page1.asp" class="btn btn-primary">View Tutorial - How Waiver System Works</a>
          </div>
      </div>
      <div class="row"  style="margin-top: 20px">
      <div class="col-lg-4 text-center">
          <a href="app_page1.asp" class="btn btn-primary"> Create New Customer Account - First Time User </a>
      </div>
      </div>
      <div class="row"  style="margin-top: 20px">
      <div class="col-lg-4 text-center">
          <a href="CustomerLogin.asp" class="btn btn-primary">Returning - Existing Customer</a>
      </div>
    </div>
  </div>
</div>
