@page 
@model ContactModel 
@{ ViewData["Title"] = "Contact"; }

<div class='panel panel-primary marginTop20px'>
    <div class='panel-heading'>
        <h3 class='panel-title text-center'>Contact Information</h3>
    </div>
    <div class='panel-body'>
        Please contact me for questions.
        <br><br>
    </div>
    <!-- End of Panel Head  -->
</div>
<!-- End of Panel  -->