@page 
@model ContactModel 
@{ ViewData["Title"] = "Contact"; }

<div class='panel panel-primary marginTop20px'>
    <div class='panel-heading'>
        <h3 class='panel-title text-center'>Contact Information</h3>
    </div>
    <div class='panel-body'>
        If you have any questions, please contact Diana (Rae) Wiant at <a href='tel:1-719-948-5751'>719-948-5751</a> for data entry, microfilm and scanning / imaging
        / conversion services or equipment typically provided by Integrated Document Solutions (IDS).
        <br><br>
        Contact Mike Lincoln at <a href='tel:1-303-866-3874'>303-866-3874</a> for mail service, print/copy and graphic design services or equipment typically
        provided by Integrated Document Solutions (IDS). For technical support,
        <a href="https://oitservicedesk.state.co.us/" target="_blank">
            click here to submit a Customer IT Request
        </a>.
    </div>
    <!-- End of Panel Head  -->
</div>
<!-- End of Panel  -->