@page 
@model HomeModel 
@{ ViewData["Title"] = "Home"; }

<br/>
<partial name="_StatusMessage" model="@Model.StatusMessage"/>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <form id="profile-form" role="form" method='post'>
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="panel-body" style="padding: 20px">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group required" style="margin-top: 20px">
                        <label asp-for="Input.FirstName" class="control-label"></label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First name" required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required" style="margin-top: 20px">
                        <label asp-for="Input.LastName" class="control-label"></label>
                        <input asp-for="Input.LastName" class="form-control" id="lastName" required="true" placeholder="Last Name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <div class="form-group required" style="margin-top: 20px">
                        <label asp-for="Input.Email" class="control-label"></label>
                        @if (Model.IsEmailConfirmed) {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" required="true" placeholder="Email Address"/>
                            <span class="input-group-addon" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            </span>
                        </div>
                        } else {
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group required">
                        <label asp-for="Input.DepartmentId" class="control-label"></label>
                        <select class="form-control" asp-for="Input.DepartmentId" asp-items="Model.departments" required="true">
                            <option>Please select one</option>
                        </select>

                        <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required">
                        <label asp-for="Input.Division" class="control-label"></label>
                        <input asp-for="Input.Division" class="form-control" required="true" placeholder="Division free-form" />
                        <span asp-validation-for="Input.Division" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group required">
                        <label asp-for="Input.PhoneNumber" class="control-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" required="true" placeholder="Phone 720-123-4567" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2" style="margin-top: 6px">
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumberExtension"></label>
                        <input asp-for="Input.PhoneNumberExtension" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumberExtension" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Update&nbsp;</button>
        </div>
    </form>
</div>

<div class="collapse" id="collapseExample">
    
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">Waiver Details</h3>
          </div>
          <div class="panel-body">
            Is this waiver for someone other than yourself ? <br/><br/>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="yesButton" onclick='$("#otherThanDiv").collapse("show")' >Yes</button>
                <button type="button" class="btn btn-default" id="noButton">No</button>
            </div>

            <div class="row">
                <div class="padding20px">
                    <div class="alert alert-danger alert-dismissible" role="alert" id="otherThanAlert" style="padding-left:20px">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Error!</strong> Please fill in both first and last name
                    </div>
                </div>
                <div class="collapse" id="otherThanDiv">
                    <div class='form-group required col-md-4 col-xs-12'>
                        <label for='otherFirstName' class='control-label fontWeightNormal'>First Name</label>
                        <input type='text' class='form-control' id='otherFirstName' aria-describedby='otherFirstName' placeholder='First Name'>
                    </div>
                    <div class='form-group required  col-md-4 col-xs-12'>
                        <label for='otherLastName' class='control-label fontWeightNormal'>Last Name</label>
                        <input type='text' class='form-control' id='otherLastName' aria-describedby='otherLastName' placeholder='Last Name'>
                    </div>
                </div>
  
                <div class="collapse" id="createWaiverButtonDiv">
                    <div class='form-group required col-md-2 col-xs-12'>
                        <label>&nbsp;</label>
                        <a id="createWaiverButton" type="submit" href="#" title="Click to Create Waiver"
                            class="btn btn-primary btn-space" style="display: block;margin-top: 6px">      
                            Create Waiver&nbsp;
                        </a>
                    </div>
                </div>
            
           </div>

          </div>
    </div>
    
</div>

<div class="row add-gutter marginTop20px">
    <button type="button" class="btn btn-primary btn-space" data-toggle="collapse" data-target="#collapseExample">
        Create Waiver
    </button>
    <a asp-page="./WaiverHistory" type="submit" class="btn btn-primary btn-space">View Existing Waiver&nbsp;</a>
    <partial name='_Logout' />
</div>


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
             $('#otherThanAlert').hide();
        });

        $("#yesButton").on("click", function () {
            $("#otherThanDiv").collapse("show");
            $("#createWaiverButtonDiv").collapse("show");
            
        });
        $("#noButton").on("click", function () {
            $('#otherFirstName').val("");
            $('#otherLastName').val("");
            $("#otherThanDiv").collapse("hide");
            $("#createWaiverButtonDiv").collapse("show");
        });


        $("#createWaiverButton").on("click", function () {
            var queryString = '' ;
            if ($('#otherThanDiv').is(':visible') == true) {
                if (!$('#otherFirstName').val() || !$('#otherLastName').val()) {
                    $('#otherThanAlert').show();
                    return false ;
                }
                var obj = {
                    otherFirstName: $('#otherFirstName').val(),
                    otherLastName: $('#otherLastName').val()
                }
                queryString = '?' + $.param(obj);
            }
            window.location.href="CreateWaiverStep1" + queryString;
        });

    </script>
}
