@page
@model DPAWaiver.Pages.Private.ServiceScanning.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Service Scanning Waiver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.WorkflowDescription" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.WorkflowDescription" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.WorkflowDescription" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ServiceScanningWaiver.ID" />
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.EstimatedNumberOfDocuments" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.EstimatedNumberOfDocuments" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.EstimatedNumberOfDocuments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.EstimatedNumberOfHours" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.EstimatedNumberOfHours" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.EstimatedNumberOfHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.indexingNeeded" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.indexingNeeded" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.indexingNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.EstimatedNumberOfFields" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.EstimatedNumberOfFields" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.EstimatedNumberOfFields" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.textSearchablePDF" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.textSearchablePDF" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.textSearchablePDF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.imageDPI" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.imageDPI" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.imageDPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.colorFormat" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.colorFormat" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.colorFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.imageDelivery" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.imageDelivery" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.imageDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.otherImageDelivery" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.otherImageDelivery" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.otherImageDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.emailOtherImageDelivery" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.emailOtherImageDelivery" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.emailOtherImageDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.systemRequirements" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.systemRequirements" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.systemRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.AlternativeMethods" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.AlternativeMethods" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.AlternativeMethods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.scanningInternally" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.scanningInternally" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.scanningInternally" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.importConversion" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.importConversion" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.importConversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.NotInHouseReason" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.NotInHouseReason" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.NotInHouseReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.AdditionalComments" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.AdditionalComments" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.AdditionalComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.OtherFirstName" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.OtherFirstName" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.OtherFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.OtherLastName" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.OtherLastName" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.OtherLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.Status" class="control-label"></label>
                <select asp-for="ServiceScanningWaiver.Status" class="form-control"></select>
                <span asp-validation-for="ServiceScanningWaiver.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.WaiverNumber" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.WaiverNumber" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.WaiverNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.projectName" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.projectName" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.projectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.SubmittedOn" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.SubmittedOn" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.SubmittedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceScanningWaiver.CostEstimate" class="control-label"></label>
                <input asp-for="ServiceScanningWaiver.CostEstimate" class="form-control" />
                <span asp-validation-for="ServiceScanningWaiver.CostEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
