@page
@model DPAWaiver.Pages.Private.SoftwarePrint.EditModel

@{
ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.SoftwarePrintWaiver.OtherFirstName != null && Model.SoftwarePrintWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">User Infromation</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="SoftwarePrintWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="SoftwarePrintWaiver.OtherFirstName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.SoftwarePrintWaiver.OtherFirstName)" />
                    <span asp-validation-for="SoftwarePrintWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="SoftwarePrintWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="SoftwarePrintWaiver.OtherLastName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.SoftwarePrintWaiver.OtherLastName)" />
                    <span asp-validation-for="SoftwarePrintWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Information</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 14px">
                <div class="col-md-4 col-xs-4">
                    Purpose: Software Related to Services
                </div>
                <div class="col-md-4 col-xs-4">
                    Type: Print Copy
                </div>
                <div class="col-md-4 col-xs-4">
                    Status: @Model.SoftwarePrintWaiver.Status
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="SoftwarePrintWaiver.projectName" class="control-label fontWeightNormal">Project
                            Name:</label>
                        <input type="text" class="form-control" asp-for="SoftwarePrintWaiver.projectName"
                            required="true" placeholder="Your Project Name">
                        <span asp-validation-for="SoftwarePrintWaiver.projectName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="SoftwarePrintWaiver.SubmittedOn"
                            class="control-label fontWeightNormal">Submitted Date:</label>
                        <input type="date" class="form-control" asp-for="SoftwarePrintWaiver.SubmittedOn"
                            required="true" value="05/04/2018">
                        <span asp-validation-for="SoftwarePrintWaiver.SubmittedOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="SoftwarePrintWaiver.CostEstimate" class="control-label fontWeightNormal">Project
                            Budget/Cost Estimate:</label>
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                            title="Enter the project cost and estimate such as 9999.99"></span>
                        <input type="number" class="form-control" asp-for="SoftwarePrintWaiver.CostEstimate"
                            required="true" value="5000.03">
                        <span asp-validation-for="SoftwarePrintWaiver.CostEstimate" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Details</h3>
        </div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='SoftwarePrintWaiver.typeOfSoftware' class='control-label fontWeightNormal'>Type
                            of software being requested</label>
                        <input type='text' class='form-control' asp-for='SoftwarePrintWaiver.typeOfSoftware'
                            aria-describedby='typeOfSoftware' placeholder='Type of software being requested'>
                        <span asp-validation-for="SoftwarePrintWaiver.typeOfSoftware" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class='form-group required'>
                        <label asp-for='SoftwarePrintWaiver.numberOfLicenses'
                            class='control-label fontWeightNormal'>Number of software licenses being requested</label>
                        <input type='number' class='form-control' asp-for='SoftwarePrintWaiver.numberOfLicenses'
                            aria-describedby='numberOfLicenses'
                            placeholder='Number of software licenses being requested'>
                        <span asp-validation-for="SoftwarePrintWaiver.numberOfLicenses" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- end of row -->

            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class="form-group required">
                        <label asp-for="SoftwarePrintWaiver.newOrReplace" class="control-label fontWeightNormal">Is this
                            new addition or replacement?</label>
                        <select class="form-control" asp-for="SoftwarePrintWaiver.newOrReplace">
                            <option>Additional</option>
                            <option>New</option>
                            <option>Replacement</option>
                        </select>
                        <span asp-validation-for="SoftwarePrintWaiver.newOrReplace" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12'>
                    <div class="form-group required">
                        <label asp-for='SoftwarePrintWaiver.costOfPresentService'
                            class='control-label fontWeightNormal'>Cost of Present Service
                            <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip'
                                title='Cost of Present Service'></span>
                        </label>
                        <input type='number' class='form-control' asp-for='SoftwarePrintWaiver.costOfPresentService'
                            aria-describedby='costOfPresentService' placeholder='Cost of Present Service'>
                        <span asp-validation-for="SoftwarePrintWaiver.costOfPresentService" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label asp-for="SoftwarePrintWaiver.servicesReceived" class="control-label fontWeightNormal">How do you
                    currently receive this services?</label>
                <textarea class="form-control" asp-for="SoftwarePrintWaiver.servicesReceived" rows="2"
                    placeholder="if replacement please describe software version and Acquisition Date."></textarea>
                <span asp-validation-for="SoftwarePrintWaiver.servicesReceived" class="text-danger"></span>
            </div>

            <div class="panel panel-primary marginTop40px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">If you are requesting specific software, please complete the
                        following</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.softwareProvider'
                                    class='control-label fontWeightNormal'>Software Provider</label>
                                <input type='text' class='form-control' asp-for='SoftwarePrintWaiver.softwareProvider'
                                    aria-describedby='softwareProvider' placeholder='Software Provider'>
                                <span asp-validation-for="SoftwarePrintWaiver.softwareProvider"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.softwareVersion'
                                    class='control-label fontWeightNormal'>Software Version</label>
                                <input type='text' class='form-control' asp-for='SoftwarePrintWaiver.softwareVersion'
                                    aria-describedby='softwareVersion' placeholder='Software Version'>
                                <span asp-validation-for="SoftwarePrintWaiver.softwareVersion"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label asp-for="SoftwarePrintWaiver.selectionReason"
                            class="control-label fontWeightNormal">Reasons for selecting this particular
                            software:</label>
                        <textarea class="form-control" asp-for="SoftwarePrintWaiver.selectionReason"
                            aria-describedby="selectionReason" placeholder="Reasons for selection" rows='2'></textarea>
                        <span asp-validation-for="SoftwarePrintWaiver.selectionReason" class="text-danger"></span>
                    </div>

                    <div class='form-group required'>
                        <label asp-for='SoftwarePrintWaiver.expectedDuration'
                            class='control-label fontWeightNormal'>Expected duration of use of software</label>
                        <input type='text' class='form-control' asp-for='SoftwarePrintWaiver.expectedDuration'
                            aria-describedby='expectedDuration' placeholder='Expected duration of use of software'>
                        <span asp-validation-for="SoftwarePrintWaiver.expectedDuration" class="text-danger"></span>
                    </div>

                    <div class='form-group required'>
                        <label asp-for='SoftwarePrintWaiver.acquisitionType' class='control-label fontWeightNormal'>How
                            do you plan to acquire this software.</label>
                        <textarea class='form-control' asp-for='SoftwarePrintWaiver.acquisitionType'
                            aria-describedby='acquisitionType'
                            placeholder='How do you plan to acquire this software.If there is a state price agreement, please provide details'
                            rows='2'></textarea>
                        <span asp-validation-for="SoftwarePrintWaiver.acquisitionType" class="text-danger"></span>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class="form-group required">
                                <label asp-for="SoftwarePrintWaiver.subscriptionOrPurchase"
                                    class="control-label fontWeightNormal">Is this a subscription or purchase?</label>
                                <select class="form-control" asp-for="SoftwarePrintWaiver.subscriptionOrPurchase">
                                    <option>Please select one</option>
                                    <option value='1'>Subscription</option>
                                    <option value='2'>Purchase</option>
                                </select>
                                <span asp-validation-for="SoftwarePrintWaiver.subscriptionOrPurchase"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class="form-group required" id='purchaseAmountDiv'>
                                <label asp-for="SoftwarePrintWaiver.purchaseAmount"
                                    class="control-label fontWeightNormal">Purchase Amount
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                        title="Purchase Amount"></span>
                                </label>
                                <input type="number" class="form-control" asp-for="SoftwarePrintWaiver.purchaseAmount"
                                    aria-describedby="purchaseAmount" placeholder="Purchase Amount">
                                <span asp-validation-for="SoftwarePrintWaiver.purchaseAmount"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div> <!-- end of row -->


                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class='form-group required' id='monthlySubscriptionAmountDiv'>
                                <label asp-for='SoftwarePrintWaiver.monthlySubscriptionAmount'
                                    class='control-label fontWeightNormal'>Monthly Subscription Amount</label>
                                <input type='number' class='form-control'
                                    asp-for='SoftwarePrintWaiver.monthlySubscriptionAmount'
                                    aria-describedby='monthlySubscriptionAmount'
                                    placeholder='Monthly Subscription Amount'>
                                <span asp-validation-for="SoftwarePrintWaiver.monthlySubscriptionAmount"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class='form-group required' id='numberOfMonthsDiv'>
                                <label asp-for='SoftwarePrintWaiver.numberOfMonths'
                                    class='control-label fontWeightNormal'>Number of Months</label>
                                <input type='number' class='form-control' asp-for='SoftwarePrintWaiver.numberOfMonths'
                                    aria-describedby='numberOfMonths' placeholder='Number of Months'>
                                <span asp-validation-for="SoftwarePrintWaiver.numberOfMonths"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required' id='annualMaintenanceCostDiv'>
                                <label asp-for='SoftwarePrintWaiver.annualMaintenanceCost'
                                    class='control-label fontWeightNormal'>Annual Maintenance Renewal Cost</label>
                                <input type='number' class='form-control'
                                    asp-for='SoftwarePrintWaiver.annualMaintenanceCost'
                                    aria-describedby='annualMaintenanceCost'
                                    placeholder='Annual Maintenance Renewal Cost'>
                                <span asp-validation-for="SoftwarePrintWaiver.annualMaintenanceCost"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                        </div>
                    </div> <!-- end of row -->

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.operatorClassification'
                                    class='control-label fontWeightNormal'>Operator Classification</label>
                                <input type='text' class='form-control'
                                    asp-for='SoftwarePrintWaiver.operatorClassification'
                                    aria-describedby='operatorClassification' placeholder='Operator Classification'>
                                <span asp-validation-for="SoftwarePrintWaiver.operatorClassification"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.Grade'
                                    class='control-label fontWeightNormal'>Grade</label>
                                <input type='text' class='form-control' asp-for='SoftwarePrintWaiver.Grade'
                                    aria-describedby='Grade' placeholder='Grade'>
                                <span asp-validation-for="SoftwarePrintWaiver.Grade" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.numberOfFTE'
                                    class='control-label fontWeightNormal'>Estimated Number of FTE</label>
                                <input type='number' class='form-control' asp-for='SoftwarePrintWaiver.numberOfFTE'
                                    aria-describedby='numberOfFTE' placeholder='Estimated Number of FTE'>
                                <span asp-validation-for="SoftwarePrintWaiver.numberOfFTE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.hoursPerFTEPerWeek'
                                    class='control-label fontWeightNormal'>Hours Per FTE Per Week</label>
                                <input type='number' class='form-control'
                                    asp-for='SoftwarePrintWaiver.hoursPerFTEPerWeek'
                                    aria-describedby='hoursPerFTEPerWeek' placeholder='Hours Per FTE Per Week'>
                                <span asp-validation-for="SoftwarePrintWaiver.hoursPerFTEPerWeek"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.totalWeeklySalary'
                                    class='control-label fontWeightNormal'>Total Weekly Salary</label>
                                <input type='number' class='form-control'
                                    asp-for='SoftwarePrintWaiver.totalWeeklySalary' aria-describedby='totalWeeklySalary'
                                    placeholder='Total Weekly Salary'>
                                <span asp-validation-for="SoftwarePrintWaiver.totalWeeklySalary"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                        </div>
                    </div>
                    <!-- end of row -->

                </div>
            </div>


            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Overhead Costs</h3>
                </div>
                <div class="panel-body">
                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.monthlySupervisionAmount'
                                    class='control-label fontWeightNormal'>Monthly Supervision Amount</label>
                                <input type='number' class='form-control'
                                    asp-for='SoftwarePrintWaiver.monthlySupervisionAmount'
                                    aria-describedby='monthlySupervisionAmount'
                                    placeholder='Monthly Supervision Amount'>
                                <span asp-validation-for="SoftwarePrintWaiver.monthlySupervisionAmount"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='SoftwarePrintWaiver.monthlyManagementAmount'
                                    class='control-label fontWeightNormal'>Monthly Management Amount</label>
                                <input type='text' class='form-control'
                                    asp-for='SoftwarePrintWaiver.monthlyManagementAmount'
                                    aria-describedby='monthlyManagementAmount' placeholder='Monthly Management Amount'>
                                <span asp-validation-for="SoftwarePrintWaiver.monthlyManagementAmount"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->

                </div>
            </div>
            <!-- end of panel -->

            <div class="form-group required">
                <label asp-for="SoftwarePrintWaiver.justificationDescription"
                    class="control-label fontWeightNormal">Justification for the request:</label>
                <textarea class="form-control" asp-for="SoftwarePrintWaiver.justificationDescription"
                    rows='2'></textarea>
                <span asp-validation-for="SoftwarePrintWaiver.justificationDescription" class="text-danger"></span>
            </div>


            <div class='form-group required'>
                <label asp-for='SoftwarePrintWaiver.alternativesConsidered'
                    class='control-label fontWeightNormal'>Please describe the alternatives you examined before making
                    this request</label>
                <textarea class='form-control' asp-for='SoftwarePrintWaiver.alternativesConsidered'
                    aria-describedby='alternativesConsidered'
                    placeholder='Please describe the alternatives you examined before making this request'
                    rows='2'></textarea>
                <span asp-validation-for="SoftwarePrintWaiver.alternativesConsidered" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoftwarePrintWaiver.AdditionalComments" class="control-label fontWeightNormal">Any
                    additional comments:</label>
                <textarea class="form-control" asp-for="SoftwarePrintWaiver.AdditionalComments" rows='2'></textarea>
                <span asp-validation-for="SoftwarePrintWaiver.AdditionalComments" class="text-danger"></span>
            </div>

        </div>
    </div>


    </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
    <partial name='_Logout' />
    <div style="clear: both"></div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</form>
</div>
@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#SoftwarePrintWaiver_subscriptionOrPurchase', ['#monthlySubscriptionAmountDiv',
            '#numberOfMonthsDiv'
        ], {
            valueList: ['1']
        });
        showIfSelected('#SoftwarePrintWaiver_subscriptionOrPurchase', ['#purchaseAmountDiv',
            '#annualMaintenanceCostDiv'
        ], {
            valueList: ['2']
        });
    });

    $("#SoftwarePrintWaiver_subscriptionOrPurchase").on("change", function () {
        showIfSelected('#SoftwarePrintWaiver_subscriptionOrPurchase', ['#monthlySubscriptionAmountDiv',
            '#numberOfMonthsDiv'
        ], {
            valueList: ['1']
        });
        showIfSelected('#SoftwarePrintWaiver_subscriptionOrPurchase', ['#purchaseAmountDiv',
            '#annualMaintenanceCostDiv'
        ], {
            valueList: ['2']
        });
    });
</script>

}