@page 
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.CreateModel  
@{ ViewData["Title"] = "Create Waiver - Equipment - Print/Copy-Large Format Printer";}

<h2>Create</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.EquipmentPrintLargeFormatWaiver.OtherFirstName != null && Model.EquipmentPrintLargeFormatWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintLargeFormatWaiver.OtherFirstName)" />
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintLargeFormatWaiver.OtherLastName)" />
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                Purpose: Equipment
            </div>
            <div class="col-md-6 col-xs-12">
                Type: Print / Copy
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6 col-xs-12">
                Subtype: Large Format Printer
            </div>
            <div class="col-md-6 col-xs-12">
                Status: Started
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="EquipmentPrintLargeFormatWaiver.projectName" required="true" placeholder="Your Project Name">
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.projectName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="EquipmentPrintLargeFormatWaiver.SubmittedOn" required="true" value="05/04/2018">
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.SubmittedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.CostEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.CostEstimate" required="true" step="0.01">
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.CostEstimate" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<form method="POST">
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Details</h3>
        </div>
        <div class="panel-body">

            <div class='form-group required'>
                <label asp-for='EquipmentPrintLargeFormatWaiver.justificationDescription' class='control-label fontWeightNormal'>Justification For Request</label>
                <textarea class='form-control' id='EquipmentPrintLargeFormatWaiver.justificationDescription' aria-describedby='justificationDescription' placeholder='Justification For Request'
                    rows='2'></textarea>
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.justificationDescription" class="text-danger"></span>
            </div>

            <div class="form-group required">
                <label asp-for="EquipmentPrintLargeFormatWaiver.servicesReceived" class="control-label fontWeightNormal">How do you currently meet this need?</label>
                <textarea class="form-control" id="EquipmentPrintLargeFormatWaiver.servicesReceived" rows="2" placeholder="How do you currently meet this need?"></textarea>
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.servicesReceived" class="text-danger"></span>
            </div>

            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                        <select class="form-control" id="EquipmentPrintLargeFormatWaiver.newOrReplace">
                            <option value='0'>Additional</option>
                            <option>New</option>
                            <option value='1'>Replacement</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.newOrReplace" class="text-danger"></span>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12' id='currentMakeDiv'>
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.currentMake" class="control-label fontWeightNormal">Current Make</label>
                        <input type="text" class="form-control" id="EquipmentPrintLargeFormatWaiver.currentMake" aria-describedby="currentMake" placeholder="Current Make">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.currentMake" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row" id='modelAndAcquisitionDiv'>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.currentModel" class="control-label fontWeightNormal">Current Model</label>
                        <input type="text" class="form-control" id="EquipmentPrintLargeFormatWaiver.currentModel" aria-describedby="currentModel" placeholder="Current Model">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.currentModel" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.acquisitionDate" class="control-label fontWeightNormal">Acquisition Date</label>
                        <input type="date" class="form-control" id="EquipmentPrintLargeFormatWaiver.acquisitionDate" aria-describedby="acquisitionDate" placeholder="Acquisition Date">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.acquisitionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.monthlyCost" class="control-label fontWeightNormal">Monthly Cost of Current Service</label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.monthlyCost" aria-describedby="monthlyCost" placeholder="Monthly Cost of Current Service">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintLargeFormatWaiver.averageMonthlyVolume' class='control-label fontWeightNormal'>Current Average Monthly Volume
                            <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Enter the current average montly volume. This is a numeric field.'></span>
                        </label>
                        <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.averageMonthlyVolume' aria-describedby='averageMonthlyVolume' placeholder='Current Average Monthly Volume'>
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.averageMonthlyVolume" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Anticipated Annual Volume for next five years</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required col-sm-2 col-sm-offset-1">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.firstYearVolume" class="control-label fontWeightNormal">1
                            <sup>st</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for first year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.firstYearVolume">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.firstYearVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group required col-sm-2">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.secondYearVolume" class="control-label fontWeightNormal">2
                            <sup>nd</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for second year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.secondYearVolume">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.secondYearVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group required col-sm-2">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.thirdYearVolume" class="control-label fontWeightNormal">3
                            <sup>rd</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for third year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.thirdYearVolume">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.thirdYearVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group required col-sm-2">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.fourthYearVolume" class="control-label fontWeightNormal">4
                            <sup>th</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.fourthYearVolume">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fourthYearVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group required col-sm-2">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.fifthYearVolume" class="control-label fontWeightNormal">5
                            <sup>th</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fifth year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.fifthYearVolume">
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fifthYearVolume" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">The type of equipment being requested</h3>
                </div>
                <div class="panel-body">

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.equipmentType' class='control-label fontWeightNormal'>Type of Equipment</label>
                                <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.equipmentType' aria-describedby='equipmentType' placeholder='Type of Equipment'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.equipmentType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class="form-group required">
                                <label asp-for="EquipmentPrintLargeFormatWaiver.NumberofEquipment" class="control-label fontWeightNormal">Number of equipment?
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="How many pieces of equipment are being requested?
    This is a numeric field."></span>
                                </label>
                                <input type="number" class="form-control" id="EquipmentPrintLargeFormatWaiver.NumberofEquipment" aria-describedby="NumberofEquipment" placeholder="Number of Equipment, Integer">
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.NumberofEquipment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row' id='otherequipmentTypeDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.Make' class='control-label fontWeightNormal'>Make</label>
                                <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.Make' aria-describedby='Make' placeholder='Make'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.Make" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.Model' class='control-label fontWeightNormal'>Model</label>
                                <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.Model' aria-describedby='Model' placeholder='Model'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.Model" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->


                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group required">
                                <label asp-for="EquipmentPrintLargeFormatWaiver.acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                                <select class="form-control" id="EquipmentPrintLargeFormatWaiver.acquisitionType">
                                    <option value="1">Solicitation</option>
                                    <option value="2">State Price Agreement</option>
                                    <option value="3">Lease</option>
                                    <option value="4">Discretionary Purchase</option>
                                    <option>Cancelable Rental</option>
                                </select>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.acquisitionType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                            <div class="form-group required">
                                <label asp-for="EquipmentPrintLargeFormatWaiver.solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                                <select class="form-control" id="EquipmentPrintLargeFormatWaiver.solicitationSubType">
                                    <option>Discretionary</option>
                                    <option>DQ</option>
                                    <option>IFB</option>
                                    <option>RFP</option>
                                </select>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.solicitationSubType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                            <div class="form-group required">
                                <label asp-for="EquipmentPrintLargeFormatWaiver.statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                                <select class="form-control" id="EquipmentPrintLargeFormatWaiver.statepriceSubType">
                                    <option>Cancelable Rental</option>
                                    <option>Lease</option>
                                </select>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.statepriceSubType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="acquisitionTypeDiv">
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.acquisitionType' class='control-label fontWeightNormal'>Purchase Amount</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.acquisitionType' aria-describedby='acquisitionType' placeholder='Purchase Amount'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.acquisitionType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="leaseDurationDiv">
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.leaseDuration' class='control-label fontWeightNormal'>Lease Duration</label>
                                <select class='form-control' id='EquipmentPrintLargeFormatWaiver.leaseDuration' aria-describedby='leaseDuration'>
                                    <option value='48'>48 months</option>
                                    <option value='60'>60 months</option>
                                    <option value='0'>Other</option>
                                </select>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.leaseDuration" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row' id='leaseTermsDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.numberOfMonths' class='control-label fontWeightNormal'>Number of Months of Lease</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.numberOfMonths' aria-describedby='numberOfMonths' placeholder='Number of Months of Lease'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfMonths" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount' class='control-label fontWeightNormal'>Monthly Lease Amount</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount' aria-describedby='monthlyLeaseAmount' placeholder='Monthly Lease Amount'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->

                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintLargeFormatWaiver.makeAndModel' class='control-label fontWeightNormal'>Make and Model</label>
                        <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.makeAndModel' aria-describedby='makeAndModel' placeholder='Make and Model'>
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.makeAndModel" class="text-danger"></span>
                    </div>

                    <div class="form-group required">
                        <label asp-for="EquipmentPrintLargeFormatWaiver.selectionReason" class="control-label fontWeightNormal">Reasons for selecting this particular equipment:</label>
                        <textarea class="form-control" id="EquipmentPrintLargeFormatWaiver.selectionReason" aria-describedby="selectionReason" placeholder="Reasons for selection"
                            rows='2'></textarea>
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.selectionReason" class="text-danger"></span>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.productionCapacity' class='control-label fontWeightNormal'>Production Capacity (throughput)
                                    <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Production capacity (how many sheets per) also throughput'></span>
                                </label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.productionCapacity' aria-describedby='productionCapacity' placeholder='Production Capacity (throughput)'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.productionCapacity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.estimatedCost' class='control-label fontWeightNormal'>Estimated Cost of Equipment</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.estimatedCost' aria-describedby='estimatedCost' placeholder='Estimated Cost of Equipment'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.estimatedCost" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group required'>
                        <label asp-for='EquipmentPrintLargeFormatWaiver.leaseOrPurchase' class='control-label fontWeightNormal'>Lease or purchase</label>
                        <select class='form-control' id='EquipmentPrintLargeFormatWaiver.leaseOrPurchase' aria-describedby='leaseOrPurchase'>
                            <option value='0'>Lease</option>
                            <option value='1'>Purchase</option>
                        </select>
                        <span asp-validation-for="EquipmentPrintLargeFormatWaiver.leaseOrPurchase" class="text-danger"></span>
                    </div>

                    <div class='row' id='leaseDataDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.numberOfYears' class='control-label fontWeightNormal'>Number of Years</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.numberOfYears' aria-describedby='numberOfYears' placeholder='Number of Years'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfYears" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.costOfLeasePerYear' class='control-label fontWeightNormal'>Cost of lease per year</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.costOfLeasePerYear' aria-describedby='costOfLeasePerYear' placeholder='Cost of lease per year'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.costOfLeasePerYear" class="text-danger"></span>
                                <!-- TODO Hover help: Total lease ??? -->
                            </div>
                        </div>
                    </div>

                    <div class='row' id='purchaseDataDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.expectedUsefulLife' class='control-label fontWeightNormal'>Expected useful life of this equipment</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.expectedUsefulLife' aria-describedby='expectedUsefulLife' placeholder='Expected useful life of this equipment'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.expectedUsefulLife" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.depreciationCostPerYear' class='control-label fontWeightNormal'>Depreciation Cost Per Year</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.depreciationCostPerYear' aria-describedby='depreciationCostPerYear' placeholder='Depreciation Cost Per Year'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.depreciationCostPerYear" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear' class='control-label fontWeightNormal'>Cost of Annual Maintenance Per Year</label>
                                <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear' aria-describedby='annualMaintenanceCostPerYear'
                                    placeholder='Cost of Annual Maintenance Per Year'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear" class="text-danger"></span>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label asp-for='EquipmentPrintLargeFormatWaiver.suppliesCost' class='control-label fontWeightNormal'>Cost of Supplies
                                    <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Consumables not included in Maintenance'></span>
                                </label>
                                <input type='string' class='form-control' id='EquipmentPrintLargeFormatWaiver.suppliesCost' aria-describedby='suppliesCost' placeholder='Cost of Supplies - Consumables not included in the Maintenance'>
                                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.suppliesCost" class="text-danger"></span>
                                <!-- TODO: Is this per year or over all. Also what does consumables not included, does that refer to cost of annual maintenance needs hover or a help -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary marginTop20px">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">The type of software needed for equipment</h3>
                    </div>
                    <div class="panel-body">
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.softwareName' class='control-label fontWeightNormal'>Name of software</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.softwareName' aria-describedby='softwareName' placeholder='Name of software'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.softwareName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.softwareCost' class='control-label fontWeightNormal'>Estimated Cost of Software</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.softwareCost' aria-describedby='softwareCost' placeholder='Estimated Cost of Software'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.softwareCost" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.annualLicenseFee' class='control-label fontWeightNormal'>Annual License Fee if any</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.annualLicenseFee' aria-describedby='annualLicenseFee' placeholder='Annual License Fee if any'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualLicenseFee" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.numberOfLicenses' class='control-label fontWeightNormal'>Number of Licenses Required</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.numberOfLicenses' aria-describedby='numberOfLicenses' placeholder='Number of Licenses Required'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfLicenses" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost' class='control-label fontWeightNormal'>Total Annual License Cost:</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost' aria-describedby='totalAnnualLicenseCost' placeholder='Total Annual License Cost:'
                                        disabled="disabled" value="0.494">
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.annualMaintenanceCost' class='control-label fontWeightNormal'>Annual Maintenance Cost</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.annualMaintenanceCost' aria-describedby='annualMaintenanceCost' placeholder='Annual Maintenance Cost'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCost" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalSoftwareCosts' class='control-label fontWeightNormal'>Total Software Costs</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalSoftwareCosts' aria-describedby='totalSoftwareCosts' placeholder='Total Software Costs'
                                        disabled="disabled" value="39">
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSoftwareCosts" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Personnel Required to Operate Equipment</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentPrintLargeFormatWaiver.operatorClassification' class='control-label fontWeightNormal'>Operator Classification/Grade</label>
                            <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.operatorClassification' aria-describedby='operatorClassification' placeholder='Operator Classification/Grade'>
                            <span asp-validation-for="EquipmentPrintLargeFormatWaiver.operatorClassification" class="text-danger"></span>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.productionFTE' class='control-label fontWeightNormal'>Production FTE Required
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Number of FTE'></span>
                                    </label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.productionFTE' aria-describedby='productionFTE' placeholder='Production FTE Required'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.productionFTE" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek' class='control-label fontWeightNormal'>Hours Per FTE Per week
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Hours per FTE per week'></span>
                                    </label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek' aria-describedby='hoursPerFTEPerWeek' placeholder='Hours Per FTE Per week'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE' class='control-label fontWeightNormal'>Base Hourly Rate Per FTE</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE' aria-describedby='baseHourlyRatePerFTE' placeholder='Base Hourly Rate Per FTE'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE' class='control-label fontWeightNormal'>Fully Loaded Hourly Rate Per FTE</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE' aria-describedby='fullyLoadedHourlyRatePerFTE'
                                        placeholder='Fully Loaded Hourly Rate Per FTE'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost' class='control-label fontWeightNormal'>Total Annual Personnel Cost</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost' aria-describedby='totalAnnualPersonnelCost' placeholder='Total Annual Personnel Cost'
                                        disabled='disabled'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost" class="text-danger"></span>
                                    <!-- TODO: Calculation is not for annual but for per week -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Other Ongoing Overhead Costs</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount' class='control-label fontWeightNormal'>Monthly Supervision Amount
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Supervision Amount'></span>
                                    </label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount' aria-describedby='monthlySupervisionAmount' placeholder='Monthly Supervision Amount'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.monthlyManagementAmount' class='control-label fontWeightNormal'>Monthly Management Amount
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Management Amount'></span>
                                    </label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.monthlyManagementAmount' aria-describedby='monthlyManagementAmount' placeholder='Monthly Management Amount'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyManagementAmount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='form-group required'>
                            <label asp-for='EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired' class='control-label fontWeightNormal'>Is additional workspace required for equipment and personnel</label>
                            <select class='form-control' id='EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired' aria-describedby='additionalWorkspaceRequired'>
                                <option value='0'>No</option>
                                <option value='1'>Yes</option>
                            </select>
                            <span asp-validation-for="EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired" class="text-danger"></span>
                        </div>
                        <div class='row' id='additionalWorkspaceDiv'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT' class='control-label fontWeightNormal'>Total Space Required in Square Feet
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Total Space Required in sq. ft'></span>
                                    </label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT' aria-describedby='totalSpaceRequiredInSQFT' placeholder='Total Space Required in Square Feet'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.costPerSQFT' class='control-label fontWeightNormal'>Cost Per Square Foot</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.costPerSQFT' aria-describedby='costPerSQFT' placeholder='Cost Per Square Foot'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.costPerSQFT" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.annualAmountForUtilities' class='control-label fontWeightNormal'>Annual Utilies Amount for Additional SQFT</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.annualAmountForUtilities' aria-describedby='annualAmountForUtilities' placeholder='Annual Utilies Amount for Additional SQFT'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualAmountForUtilities" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalSpaceCost' class='control-label fontWeightNormal'>Total Space Cost</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalSpaceCost' aria-describedby='totalSpaceCost' placeholder='Total Space Cost'
                                        disabled='disabled'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSpaceCost" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Additional One Time Costs</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.computerCosts' class='control-label fontWeightNormal'>Computer Costs</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.computerCosts' aria-describedby='computerCosts' placeholder='Computer Costs'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.computerCosts" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.furnitureCosts' class='control-label fontWeightNormal'>Furniture Costs</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.furnitureCosts' aria-describedby='furnitureCosts' placeholder='Furniture Costs'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.furnitureCosts" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts' class='control-label fontWeightNormal'>Cubicle Partition Costs</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts' aria-describedby='cubiclePartitionCosts' placeholder='Cubicle Partition Costs'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.constructionCosts' class='control-label fontWeightNormal'>Construction and Electrical Work Costs</label>
                                    <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.constructionCosts' aria-describedby='constructionCosts' placeholder='Construction and Electrical Work Costs'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.constructionCosts" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class='form-group required'>
                            <label asp-for='EquipmentPrintLargeFormatWaiver.miscellaneousCosts' class='control-label fontWeightNormal'>Miscellaneous Costs</label>
                            <input type='number' class='form-control' id='EquipmentPrintLargeFormatWaiver.miscellaneousCosts' aria-describedby='miscellaneousCosts' placeholder='Miscellaneous Costs'>
                            <span asp-validation-for="EquipmentPrintLargeFormatWaiver.miscellaneousCosts" class="text-danger"></span>
                        </div>
                        <div class='form-group required'>
                            <label asp-for='EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts' class='control-label fontWeightNormal'>Description of Miscellaneous Costs</label>
                            <textarea class='form-control' id='EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts' aria-describedby='descriptionMiscellaneousCosts' placeholder='Description of Miscellaneous Costs'
                                rows='2'></textarea>
                            <span asp-validation-for="EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts" class="text-danger"></span>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts' class='control-label fontWeightNormal'>Total Additional One Time Costs</label>
                                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts' aria-describedby='totalAdditionalOneTimeCosts' placeholder='Total Additional One Time Costs'
                                        disabled='disabled'>
                                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts" class="text-danger"></span>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label asp-for='EquipmentPrintLargeFormatWaiver.totalCostOfOwnership' class='control-label fontWeightNormal'>Total Cost of Ownership</label>
                    <input type='text' class='form-control' id='EquipmentPrintLargeFormatWaiver.totalCostOfOwnership' aria-describedby='totalCostOfOwnership' placeholder='Total Cost of Ownership'
                        disabled='disabled'>
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalCostOfOwnership" class="text-danger"></span>
                </div>

                <div class="form-group required">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
                    <textarea class="form-control" id="EquipmentPrintLargeFormatWaiver.alternativesDescription" rows="2"></textarea>
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.alternativesDescription" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
                    <textarea class="form-control" id="EquipmentPrintLargeFormatWaiver.AdditionalComments" rows='2'></textarea>
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.AdditionalComments" class="text-danger"></span>
                </div>


            </div>
        </div>

        <div class="row add-gutter marginTop20px pull-right">
            <partial name='_Logout' />
            <a class="btn btn-default" onclick="print();">Print&nbsp;
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </a>
            <button class="btn btn-default btn-space-2x" type="reset">Clear Form&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <button type="submit" class="btn btn-primary" id='createwaiver' value='Submit'>
            Create Waiver&nbsp;
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
</form>

</form>


<div style="clear: both"></div>

@section Scripts {
<environment include="Development">
    <script type="text/javascript" src="~/js/equipment.scanning.js"></script>
</environment>
<environment exclude="Development">
    <script type="text/javascript" src="~/js/equipment.scanning.min.js"></script>
</environment>


}