@page 
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.CreateModel  
@{ ViewData["Title"] = "Create Waiver - Equipment - Print/Copy-Large Format Printer";}

<h2>Create</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.EquipmentPrintLargeFormatWaiver.OtherFirstName != null && Model.EquipmentPrintLargeFormatWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintLargeFormatWaiver.OtherFirstName)" />
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentPrintLargeFormatWaiver.OtherLastName)" />
                    <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                Purpose: Equipment
            </div>
            <div class="col-md-6 col-xs-12">
                Type: Print / Copy
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6 col-xs-12">
                Subtype: Large Format Printer
            </div>
            <div class="col-md-6 col-xs-12">
                Status: Started
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label for="projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" id="projectName" required="true" placeholder="Your Project Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" id="SubmittedOn" required="true" value="05/04/2018">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label for="CostEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" id="CostEstimate" required="true" value="5000.03">
                </div>
            </div>
        </div>

    </div>
</div>

<form method="POST">
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Details</h3>
        </div>
        <div class="panel-body">

            <div class='form-group required'>
                <label for='justificationDescription' class='control-label fontWeightNormal'>Justification For Request</label>
                <textarea class='form-control' id='justificationDescription' aria-describedby='justificationDescription' placeholder='Justification For Request'
                    rows='2'></textarea>
            </div>

            <div class="form-group required">
                <label for="servicesReceived" class="control-label fontWeightNormal">How do you currently meet this need?</label>
                <textarea class="form-control" id="servicesReceived" rows="2" placeholder="How do you currently meet this need?"></textarea>
            </div>

            <div class='row'>
                <div class='col-sm-6 col-xs-12'>
                    <div class="form-group required">
                        <label for="newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                        <select class="form-control" id="newOrReplace">
                            <option value='0'>Additional</option>
                            <option>New</option>
                            <option value='1'>Replacement</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-6 col-xs-12' id='currentMakeDiv'>
                    <div class="form-group required">
                        <label for="currentMake" class="control-label fontWeightNormal">Current Make</label>
                        <input type="text" class="form-control" id="currentMake" aria-describedby="currentMake" placeholder="Current Make">
                    </div>
                </div>
            </div>

            <div class="row" id='modelAndAcquisitionDiv'>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label for="currentModel" class="control-label fontWeightNormal">Current Model</label>
                        <input type="text" class="form-control" id="currentModel" aria-describedby="currentModel" placeholder="Current Model">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label for="acquisitionDate" class="control-label fontWeightNormal">Acquisition Date</label>
                        <input type="date" class="form-control" id="acquisitionDate" aria-describedby="acquisitionDate" placeholder="Acquisition Date">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label for="monthlyCost" class="control-label fontWeightNormal">Monthly Cost of Current Service</label>
                        <input type="number" class="form-control" id="acquisitionDate" aria-describedby="acquisitionDate" placeholder="Monthly Cost of Current Service">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class='form-group required'>
                        <label for='averageMonthlyVolume' class='control-label fontWeightNormal'>Current Average Monthly Volume
                            <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Enter the current average montly volume. This is a numeric field.'></span>
                        </label>
                        <input type='number' class='form-control' id='averageMonthlyVolume' aria-describedby='averageMonthlyVolume' placeholder='Current Average Monthly Volume'>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Anticipated Annual Volume for next five years</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required col-sm-2 col-sm-offset-1">
                        <label for="firstYearVolume" class="control-label fontWeightNormal">1
                            <sup>st</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for first year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="firstYearVolume">
                    </div>
                    <div class="form-group required col-sm-2">
                        <label for="secondYearVolume" class="control-label fontWeightNormal">2
                            <sup>nd</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for second year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="secondYearVolume">
                    </div>
                    <div class="form-group required col-sm-2">
                        <label for="thirdYearVolume" class="control-label fontWeightNormal">3
                            <sup>rd</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for third year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="thirdYearVolume">
                    </div>
                    <div class="form-group required col-sm-2">
                        <label for="fourthYearVolume" class="control-label fontWeightNormal">4
                            <sup>th</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="fourthYearVolume">
                    </div>
                    <div class="form-group required col-sm-2">
                        <label for="fifthYearVolume" class="control-label fontWeightNormal">5
                            <sup>th</sup> Yr&nbsp;
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fifth year
This is a numeric field."></span>
                        </label>
                        <input type="number" class="form-control" id="fifthYearVolume">
                    </div>

                </div>
            </div>

            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">The type of equipment being requested</h3>
                </div>
                <div class="panel-body">

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='equipmentType' class='control-label fontWeightNormal'>Type of Equipment</label>
                                <input type='text' class='form-control' id='equipmentType' aria-describedby='equipmentType' placeholder='Type of Equipment'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class="form-group required">
                                <label for="NumberofEquipment" class="control-label fontWeightNormal">Number of equipment?
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="How many pieces of equipment are being requested?
    This is a numeric field."></span>
                                </label>
                                <input type="number" class="form-control" id="NumberofEquipment" aria-describedby="NumberofEquipment" placeholder="Number of Equipment, Integer">
                            </div>
                        </div>
                    </div>

                    <div class='row' id='otherequipmentTypeDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='make' class='control-label fontWeightNormal'>Make</label>
                                <input type='text' class='form-control' id='make' aria-describedby='make' placeholder='Make'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='model' class='control-label fontWeightNormal'>Model</label>
                                <input type='text' class='form-control' id='model' aria-describedby='model' placeholder='Model'>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->


                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group required">
                                <label for="acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                                <select class="form-control" id="acquisitionType">
                                    <option value="1">Solicitation</option>
                                    <option value="2">State Price Agreement</option>
                                    <option value="3">Lease</option>
                                    <option value="4">Discretionary Purchase</option>
                                    <option>Cancelable Rental</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                            <div class="form-group required">
                                <label for="solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                                <select class="form-control" id="solicitationSubType">
                                    <option>Discretionary</option>
                                    <option>DQ</option>
                                    <option>IFB</option>
                                    <option>RFP</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                            <div class="form-group required">
                                <label for="statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                                <select class="form-control" id="statepriceSubType">
                                    <option>Cancelable Rental</option>
                                    <option>Lease</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="acquisitionTypeDiv">
                            <div class='form-group required'>
                                <label for='acquisitionType' class='control-label fontWeightNormal'>Purchase Amount</label>
                                <input type='number' class='form-control' id='acquisitionType' aria-describedby='acquisitionType' placeholder='Purchase Amount'>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" id="leaseDurationDiv">
                            <div class='form-group required'>
                                <label for='leaseDuration' class='control-label fontWeightNormal'>Lease Duration</label>
                                <select class='form-control' id='leaseDuration' aria-describedby='leaseDuration'>
                                    <option value='48'>48 months</option>
                                    <option value='60'>60 months</option>
                                    <option value='0'>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row' id='leaseTermsDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='numberOfMonths' class='control-label fontWeightNormal'>Number of Months of Lease</label>
                                <input type='number' class='form-control' id='numberOfMonths' aria-describedby='numberOfMonths' placeholder='Number of Months of Lease'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='monthlyLeaseAmount' class='control-label fontWeightNormal'>Monthly Lease Amount</label>
                                <input type='number' class='form-control' id='monthlyLeaseAmount' aria-describedby='monthlyLeaseAmount' placeholder='Monthly Lease Amount'>
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->

                    <div class='form-group required'>
                        <label for='makeAndModel' class='control-label fontWeightNormal'>Make and Model</label>
                        <input type='text' class='form-control' id='makeAndModel' aria-describedby='makeAndModel' placeholder='Make and Model'>
                    </div>

                    <div class="form-group required">
                        <label for="selectionReason" class="control-label fontWeightNormal">Reasons for selecting this particular equipment:</label>
                        <textarea class="form-control" id="selectionReason" aria-describedby="selectionReason" placeholder="Reasons for selection"
                            rows='2'></textarea>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='productionCapacity' class='control-label fontWeightNormal'>Production Capacity (throughput)
                                    <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Production capacity (how many sheets per) also throughput'></span>
                                </label>
                                <input type='number' class='form-control' id='productionCapacity' aria-describedby='productionCapacity' placeholder='Production Capacity (throughput)'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='estimatedCost' class='control-label fontWeightNormal'>Estimated Cost of Equipment</label>
                                <input type='number' class='form-control' id='estimatedCost' aria-describedby='estimatedCost' placeholder='Estimated Cost of Equipment'>
                            </div>
                        </div>
                    </div>

                    <div class='form-group required'>
                        <label for='leaseOrPurchase' class='control-label fontWeightNormal'>Lease or purchase</label>
                        <select class='form-control' id='leaseOrPurchase' aria-describedby='leaseOrPurchase'>
                            <option value='0'>Lease</option>
                            <option value='1'>Purchase</option>
                        </select>
                    </div>

                    <div class='row' id='leaseDataDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='numberOfYears' class='control-label fontWeightNormal'>Number of Years</label>
                                <input type='number' class='form-control' id='numberOfYears' aria-describedby='numberOfYears' placeholder='Number of Years'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='costOfLeasePerYear' class='control-label fontWeightNormal'>Cost of lease per year</label>
                                <input type='number' class='form-control' id='costOfLeasePerYear' aria-describedby='costOfLeasePerYear' placeholder='Cost of lease per year'>
                                <!-- TODO Hover help: Total lease ??? -->
                            </div>
                        </div>
                    </div>

                    <div class='row' id='purchaseDataDiv'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='expectedUsefulLife' class='control-label fontWeightNormal'>Expected useful life of this equipment</label>
                                <input type='number' class='form-control' id='expectedUsefulLife' aria-describedby='expectedUsefulLife' placeholder='Expected useful life of this equipment'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='depreciationCostPerYear' class='control-label fontWeightNormal'>Depreciation Cost Per Year</label>
                                <input type='number' class='form-control' id='depreciationCostPerYear' aria-describedby='depreciationCostPerYear' placeholder='Depreciation Cost Per Year'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='annualMaintenanceCostPerYear' class='control-label fontWeightNormal'>Cost of Annual Maintenance Per Year</label>
                                <input type='number' class='form-control' id='annualMaintenanceCostPerYear' aria-describedby='annualMaintenanceCostPerYear'
                                    placeholder='Cost of Annual Maintenance Per Year'>
                            </div>
                        </div>
                        <div class='col-sm-6 col-xs-12'>
                            <div class='form-group required'>
                                <label for='suppliesCost' class='control-label fontWeightNormal'>Cost of Supplies
                                    <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Consumables not included in Maintenance'></span>
                                </label>
                                <input type='string' class='form-control' id='suppliesCost' aria-describedby='suppliesCost' placeholder='Cost of Supplies - Consumables not included in the Maintenance'>
                                <!-- TODO: Is this per year or over all. Also what does consumables not included, does that refer to cost of annual maintenance needs hover or a help -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary marginTop20px">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">The type of software needed for equipment</h3>
                    </div>
                    <div class="panel-body">
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='softwareName' class='control-label fontWeightNormal'>Name of software</label>
                                    <input type='text' class='form-control' id='softwareName' aria-describedby='softwareName' placeholder='Name of software'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='softwareCost' class='control-label fontWeightNormal'>Estimated Cost of Software</label>
                                    <input type='number' class='form-control' id='softwareCost' aria-describedby='softwareCost' placeholder='Estimated Cost of Software'>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='annualLicenseFee' class='control-label fontWeightNormal'>Annual License Fee if any</label>
                                    <input type='number' class='form-control' id='annualLicenseFee' aria-describedby='annualLicenseFee' placeholder='Annual License Fee if any'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='numberOfLicenses' class='control-label fontWeightNormal'>Number of Licenses Required</label>
                                    <input type='number' class='form-control' id='numberOfLicenses' aria-describedby='numberOfLicenses' placeholder='Number of Licenses Required'>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalAnnualLicenseCost' class='control-label fontWeightNormal'>Total Annual License Cost:</label>
                                    <input type='text' class='form-control' id='totalAnnualLicenseCost' aria-describedby='totalAnnualLicenseCost' placeholder='Total Annual License Cost:'
                                        disabled="disabled" value="0.494">
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='annualMaintenanceCost' class='control-label fontWeightNormal'>Annual Maintenance Cost</label>
                                    <input type='number' class='form-control' id='annualMaintenanceCost' aria-describedby='annualMaintenanceCost' placeholder='Annual Maintenance Cost'>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalSoftwareCosts' class='control-label fontWeightNormal'>Total Software Costs</label>
                                    <input type='text' class='form-control' id='totalSoftwareCosts' aria-describedby='totalSoftwareCosts' placeholder='Total Software Costs'
                                        disabled="disabled" value="39">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Personnel Required to Operate Equipment</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='form-group required'>
                            <label for='operatorClassification' class='control-label fontWeightNormal'>Operator Classification/Grade</label>
                            <input type='text' class='form-control' id='operatorClassification' aria-describedby='operatorClassification' placeholder='Operator Classification/Grade'>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='productionFTE' class='control-label fontWeightNormal'>Production FTE Required
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Number of FTE'></span>
                                    </label>
                                    <input type='number' class='form-control' id='productionFTE' aria-describedby='productionFTE' placeholder='Production FTE Required'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='hoursPerFTEPerWeek' class='control-label fontWeightNormal'>Hours Per FTE Per week
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Hours per FTE per week'></span>
                                    </label>
                                    <input type='number' class='form-control' id='hoursPerFTEPerWeek' aria-describedby='hoursPerFTEPerWeek' placeholder='Hours Per FTE Per week'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='baseHourlyRatePerFTE' class='control-label fontWeightNormal'>Base Hourly Rate Per FTE</label>
                                    <input type='number' class='form-control' id='baseHourlyRatePerFTE' aria-describedby='baseHourlyRatePerFTE' placeholder='Base Hourly Rate Per FTE'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='fullyLoadedHourlyRatePerFTE' class='control-label fontWeightNormal'>Fully Loaded Hourly Rate Per FTE</label>
                                    <input type='number' class='form-control' id='fullyLoadedHourlyRatePerFTE' aria-describedby='fullyLoadedHourlyRatePerFTE'
                                        placeholder='Fully Loaded Hourly Rate Per FTE'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalAnnualPersonnelCost' class='control-label fontWeightNormal'>Total Annual Personnel Cost</label>
                                    <input type='text' class='form-control' id='totalAnnualPersonnelCost' aria-describedby='totalAnnualPersonnelCost' placeholder='Total Annual Personnel Cost'
                                        disabled='disabled'>
                                    <!-- TODO: Calculation is not for annual but for per week -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Other Ongoing Overhead Costs</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='monthlySupervisionAmount' class='control-label fontWeightNormal'>Monthly Supervision Amount
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Supervision Amount'></span>
                                    </label>
                                    <input type='number' class='form-control' id='monthlySupervisionAmount' aria-describedby='monthlySupervisionAmount' placeholder='Monthly Supervision Amount'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='monthlyManagementAmount' class='control-label fontWeightNormal'>Monthly Management Amount
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Management Amount'></span>
                                    </label>
                                    <input type='number' class='form-control' id='monthlyManagementAmount' aria-describedby='monthlyManagementAmount' placeholder='Monthly Management Amount'>
                                </div>
                            </div>
                        </div>

                        <div class='form-group required'>
                            <label for='additionalWorkspaceRequired' class='control-label fontWeightNormal'>Is additional workspace required for equipment and personnel</label>
                            <select class='form-control' id='additionalWorkspaceRequired' aria-describedby='additionalWorkspaceRequired'>
                                <option value='0'>No</option>
                                <option value='1'>Yes</option>
                            </select>
                        </div>
                        <div class='row' id='additionalWorkspaceDiv'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalSpaceRequiredInSQFT' class='control-label fontWeightNormal'>Total Space Required in Square Feet
                                        <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Total Space Required in sq. ft'></span>
                                    </label>
                                    <input type='number' class='form-control' id='totalSpaceRequiredInSQFT' aria-describedby='totalSpaceRequiredInSQFT' placeholder='Total Space Required in Square Feet'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='costPerSQFT' class='control-label fontWeightNormal'>Cost Per Square Foot</label>
                                    <input type='number' class='form-control' id='costPerSQFT' aria-describedby='costPerSQFT' placeholder='Cost Per Square Foot'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='annualAmountForUtilities' class='control-label fontWeightNormal'>Annual Utilies Amount for Additional SQFT</label>
                                    <input type='number' class='form-control' id='annualAmountForUtilities' aria-describedby='annualAmountForUtilities' placeholder='Annual Utilies Amount for Additional SQFT'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalSpaceCost' class='control-label fontWeightNormal'>Total Space Cost</label>
                                    <input type='text' class='form-control' id='totalSpaceCost' aria-describedby='totalSpaceCost' placeholder='Total Space Cost'
                                        disabled='disabled'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='panel panel-primary marginTop20px'>
                    <div class='panel-heading'>
                        <h3 class='panel-title text-center'>Additional One Time Costs</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='computerCosts' class='control-label fontWeightNormal'>Computer Costs</label>
                                    <input type='number' class='form-control' id='computerCosts' aria-describedby='computerCosts' placeholder='Computer Costs'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='furnitureCosts' class='control-label fontWeightNormal'>Furniture Costs</label>
                                    <input type='number' class='form-control' id='furnitureCosts' aria-describedby='furnitureCosts' placeholder='Furniture Costs'>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='cubiclePartitionCosts' class='control-label fontWeightNormal'>Cubicle Partition Costs</label>
                                    <input type='number' class='form-control' id='cubiclePartitionCosts' aria-describedby='cubiclePartitionCosts' placeholder='Cubicle Partition Costs'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='constructionCosts' class='control-label fontWeightNormal'>Construction and Electrical Work Costs</label>
                                    <input type='number' class='form-control' id='constructionCosts' aria-describedby='constructionCosts' placeholder='Construction and Electrical Work Costs'>
                                </div>
                            </div>
                        </div>

                        <div class='form-group required'>
                            <label for='miscellaneousCosts' class='control-label fontWeightNormal'>Miscellaneous Costs</label>
                            <input type='number' class='form-control' id='miscellaneousCosts' aria-describedby='miscellaneousCosts' placeholder='Miscellaneous Costs'>
                        </div>
                        <div class='form-group required'>
                            <label for='descriptionMiscellaneousCosts' class='control-label fontWeightNormal'>Description of Miscellaneous Costs</label>
                            <textarea class='form-control' id='descriptionMiscellaneousCosts' aria-describedby='descriptionMiscellaneousCosts' placeholder='Description of Miscellaneous Costs'
                                rows='2'></textarea>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group required'>
                                    <label for='totalAdditionalOneTimeCosts' class='control-label fontWeightNormal'>Total Additional One Time Costs</label>
                                    <input type='text' class='form-control' id='totalAdditionalOneTimeCosts' aria-describedby='totalAdditionalOneTimeCosts' placeholder='Total Additional One Time Costs'
                                        disabled='disabled'>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label for='totalCostOfOwnership' class='control-label fontWeightNormal'>Total Cost of Ownership</label>
                    <input type='text' class='form-control' id='totalCostOfOwnership' aria-describedby='totalCostOfOwnership' placeholder='Total Cost of Ownership'
                        disabled='disabled'>
                </div>

                <div class="form-group required">
                    <label for="alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
                    <textarea class="form-control" id="overheadDescription" rows="2"></textarea>
                </div>


                <div class="form-group">
                    <label for="AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
                    <textarea class="form-control" id="AdditionalComments" rows='2'></textarea>
                </div>


            </div>
        </div>

        <div class="row add-gutter marginTop20px pull-right">
            <a type="submit" class="btn btn-default btn-space-2x">Logout&nbsp;
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default" onclick="print();">Print&nbsp;
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </a>
            <button class="btn btn-default btn-space-2x" type="reset">Clear Form&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a type="submit" class="btn btn-primary" id='createwaiver' value='Submit'>
            Create Waiver&nbsp;
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
</form>

</form>

<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
<environment include="Development">
    <script type="text/javascript" src="~/js/equipment.scanning.js"></script>
</environment>
<environment exclude="Development">
    <script type="text/javascript" src="~/js/equipment.scanning.min.js"></script>
</environment>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });

        $("#typeOfDesign").on("change", function () {
            showIfSelected('#typeOfDesign', ['#otherDescriptionId'], {valueList: ['0']});
        });
    </script>

}