@page
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EquipmentPrintLargeFormatWaiver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.justificationDescription" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.justificationDescription" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.justificationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.servicesReceived" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.servicesReceived" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.servicesReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.newOrReplace" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.newOrReplace" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.newOrReplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.currentMake" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.currentMake" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.currentMake" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.currentModel" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.currentModel" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.currentModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.acquistionDate" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.acquistionDate" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.acquistionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.monthlyCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.monthlyCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.averageMonthlyVolume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.averageMonthlyVolume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.averageMonthlyVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.firstYearVolume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.firstYearVolume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.firstYearVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.secondYearVoume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.secondYearVoume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.secondYearVoume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.thirdYearVolume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.thirdYearVolume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.thirdYearVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.fourthYearVolume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.fourthYearVolume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fourthYearVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.fifthYearVolume" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.fifthYearVolume" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fifthYearVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.equipmentType" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.equipmentType" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.equipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.numberofEquipment" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.numberofEquipment" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberofEquipment" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.Make" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.Make" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.Make" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.Model" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.Model" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.acquistionType" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.acquistionType" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.acquistionType" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.solicitationSubType" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.solicitationSubType" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.solicitationSubType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.purchaseAmount" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.purchaseAmount" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.purchaseAmount" class="text-danger"></span>
            </div>
            
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.leaseDuration" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.leaseDuration" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.leaseDuration" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.numberOfMonths" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.numberOfMonths" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfMonths" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.makeAndModel" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.makeAndModel" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.makeAndModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.selectionReason" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.selectionReason" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.selectionReason" class="text-danger"></span>
            </div>
            
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.productionCapacity" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.productionCapacity" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.productionCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.estimatedCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.estimatedCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.estimatedCost" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.leaseOrPurchase" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.leaseOrPurchase" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.leaseOrPurchase" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.numberOfYears" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.numberOfYears" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.costOfLeasePerYear" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.costOfLeasePerYear" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.costOfLeasePerYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.expectedUsefulLife" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.expectedUsefulLife" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.expectedUsefulLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.depreciationCostPerYear" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.depreciationCostPerYear" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.depreciationCostPerYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.suppliesCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.suppliesCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.suppliesCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.softwareCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.softwareCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.softwareCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.softwareName" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.softwareName" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.softwareName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.annualLicenseFee" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.annualLicenseFee" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualLicenseFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.numberOfLicenses" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.numberOfLicenses" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.numberOfLicenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualMaintenanceCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalSoftwareCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalSoftwareCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSoftwareCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.operatorClassification" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.operatorClassification" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.operatorClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.productionFTE" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.productionFTE" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.productionFTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.monthlyManagementAmount" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.monthlyManagementAmount" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.monthlyManagementAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.costPerSQFT" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.costPerSQFT" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.costPerSQFT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.annualAmountForUtilities" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.annualAmountForUtilities" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.annualAmountForUtilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalSpaceCost" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalSpaceCost" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalSpaceCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.computerCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.computerCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.computerCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.furnitureCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.furnitureCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.furnitureCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.constructionCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.constructionCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.constructionCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.miscellaneousCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.miscellaneousCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.miscellaneousCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.totalCostOfOwnership" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.totalCostOfOwnership" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.totalCostOfOwnership" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.alternativesDescription" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.alternativesDescription" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.alternativesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.additionalComments" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.additionalComments" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.additionalComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.OtherLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.Status" class="control-label"></label>
                <select asp-for="EquipmentPrintLargeFormatWaiver.Status" class="form-control"></select>
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.WaiverNumber" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.WaiverNumber" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.WaiverNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.ProjectName" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.ProjectName" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.SubmittedOn" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.SubmittedOn" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.SubmittedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentPrintLargeFormatWaiver.CostEstimate" class="control-label"></label>
                <input asp-for="EquipmentPrintLargeFormatWaiver.CostEstimate" class="form-control" />
                <span asp-validation-for="EquipmentPrintLargeFormatWaiver.CostEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
